@import (reference) '../../styles/variables';

.header {
	background: @gray;
	height: @header-height;
	text-align: center;
	margin-bottom: 30px;

	@media @screen-medium {
		margin-bottom: 100px;
	}
}

.header.open {
	h1 {
		color: @light-gray;
	}

	.btn svg path{
		fill: @light-gray;
	}
}

.header .container {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
	margin-top: 0;

	@media @screen-small {
		margin-top: 0;
	}
}

.header-logo {
	display: inline-block;
	z-index: 3;
	&:visited {
		color: @black;
	}
}

.header-logo h1 {
	display: inline-block;
	margin: 0;
	line-height: @header-height;
}

.header .btn {
	z-index: 3;
	position: relative;
	font-size: 0;
	background: transparent;
	border: none;
    padding: 7px;
	margin: 0;
	cursor: pointer;
}
