@import (reference) '../../styles/variables';
.inline-image.inline-image-large {
	height: auto;
	padding: 0;
	margin-bottom: @spacing-large;
	color: @grey-caption;
	max-width: @column-large-9;

	p {
		margin: @spacing-default*1.5 0;
		display: block;
		font-size: @body-text-s;
		line-height: @line-height-body-s;
		text-align: center;
		width: 100%;
	}
	@media @screen-medium {
		p {
			font-size: @body-text-m;
			line-height: @line-height-body-m;
		}	
	}
	@media @screen-large {
		margin-bottom: @spacing-large*2;
		p {

			font-size: @body-text-l;
			line-height: @line-height-body-l;
		}	
	}
}

.inline-image {
	width: 100%;
	padding: 0 @spacing-default*1.5;
	margin: auto;
	margin-bottom: @spacing-large;
	color: @dark-grey;
	font-weight: @font-weight-normal;
	text-align: center;
	
	p {
		display: none;
	}

	img {
		height: auto;
		width: 100%;
		overflow: hidden;
	}
	
	@media @screen-medium {
		p {
			margin-top: @spacing-default;
			display: block;
		}
		max-width: @column-large-7;
		margin-bottom: @spacing-large*2;
	}
	@media @screen-large {
		padding: 0;		
	}
}

.inline-image-container.inline-image-container-large {
	height: 214px;
	@media @screen-small {
		height: auto;
	}
	@media @screen-large {
		height: 630px;
	}
}

.inline-image-container {
	height: 230px;
	width: 100%;
	overflow: hidden;

	@media @screen-small {
		height: auto;
	}

	@media @screen-medium-large {		
		height: 500px;
	}
}