@import (reference) '../../styles/variables.less';

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: @spacing-default*8;

	.submit-btn {
		display: block;
		margin: 0 auto;
	}

	.form {
		margin: 0 auto;
	}

	.required-warning {
		margin-bottom: 1.1em;
	}
}

.contact-form.no-body .form-title {
	margin-bottom: @spacing-default*8;
}

.work-with-us {
	text-align: center;

	.call-to-action {
		margin-bottom: @spacing-default*4;
	}
}

.work-with-us-text {
	margin-bottom: @spacing-default*2 !important;
}
