@import (reference) '../../styles/variables';

.full-width-image-small {
  display: block;
  position: relative;
  width: 100%;
  height: 214px;
  margin-bottom: @spacing-large;
  overflow: hidden;
  background-position: center;
  background-size: cover;

  @media @screen-small {
    height: 300px;
  }

  @media @screen-medium {
    height: 400px;
  }

  @media @screen-large {
    max-width: @max-width-image;
    height: 610px;
    margin: 0 auto @spacing-large*2 auto;
  }
}
