@import (reference) '../../styles/variables';

.feeds-block {
  display: inline-block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  & > .container-inner {
    height: 100%;
  }

  @media @screen-large {
    display: block;
    max-width: @column-large-12;
    height: 912px;
    margin: auto;
    margin-bottom: @spacing-large*2;
    float: none;

    & > .container-inner {
      max-width: @column-large-12;
    }
  }
}

.feeds-link-container {
  position: relative;
  top: 0;
  width: 100%;
  margin: @spacing-small 0;
  float: left;
  text-align: center;

  @media @screen-medium {
    margin: @spacing-large 0;
  }

  @media @screen-large {
    position: relative;
    top: -277px;
  }
}

.feeds-link {
  display: inline-block;
  position: relative;
}
