@import (reference) '../../../styles/variables';

.piramide-triangle {
    width: 100%;
    height: auto;
    path {
        mix-blend-mode: multiply;
    }
}

.piramide-triangle.red path {
    fill: @red;
}

.piramide-triangle.purple path {
    fill: @purple;
}

.piramide-triangle.blue path {
    fill: @blue;
}

.piramide-triangle.yellow path {
    fill: @yellow;
}

.piramide-triangle.green path {
    fill: @green;
}

.piramide-triangle.gray path {
    fill: @gray;
}

.piramide-triangle.dark-gray path {
    fill: @darker-gray;
}
