@import (reference) '../../styles/variables';

@darken-value: 10%;

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-dropdown {
  width: 100%;
  max-width: 367px;
  margin-bottom: @spacing-large;
  position: relative;
}

.input-label {
  font-size: @heading-small-s;
  line-height: @line-height-header-small-s;
  margin-bottom: @spacing-default;
}

.form-title {
  text-align: center;
}

.dropdown-header,
.list-item {
  height: @header-height-s;
  line-height: 60px;
  font-family: @font-main;
  font-size: @label;
}

.dropdown-list {
  width: 100%;
  position: absolute;
  padding: 0;
  padding-bottom: 2rem;
  margin: 0;
  background-color: @white;
  z-index: 1000;
  .shadow;
}

.list-item {
  list-style-type: none;
}

.select-btn {
  width: 100%;
  height: 58px;
  background-color: @white-grey;
  color: @red;
  font-size: @label;
  font-weight: @font-weight-bold;
  padding-left: @spacing-small;
  padding-right: @spacing-small;
  display: flex;
  justify-content: space-between;
  transition: @animation-speed color ease-out, @animation-speed background-color ease-out;

  &:hover {
    background: darken(@white-grey, @darken-value);
  }

  &.active {
    background-color: @blue;
    color: @white;

    .icon svg path {
      fill: @white;
    }
  }

  .icon svg path {
    fill: @red;
  }
}

.select-item {
  color: @black;
  height: @header-height-s;
  line-height: 60px;
  width: 100%;
  text-align: left;
  padding-left: @spacing-small;
  padding-right: @spacing-small;
  font-size: @label;
  font-weight: @font-weight-bold;

  &:hover,
  &:focus {
    color: @red;
  }
}