@import (reference) '../../styles/variables';

.cta-block {
    padding: 110px 0;
    background-size: cover;
    background-position: center;
}

.cta-block .container {
    margin-bottom: 0;
    color: @white;
    text-align: center;
}

.cta-block h2 {
    font-size: @title-large-s;
    line-height: @line-height-header-small;
    margin-bottom: 36px;

    @media @screen-medium {
        font-size: @title-large-m;
        line-height: 58px;
        max-width: 550px;
        margin: 0 auto 36px;
    }

    @media @screen-large {
        font-size: @heading;
        line-height: 80px;
        max-width: 700px;
    }
}

.cta-block .btn-primary {
    width: 100%;
    max-width: 300px;

    &:hover {
        background-color: @white;
    }
}
