@import (reference) '../../styles/variables.less';
@import (reference) '../../components/buttons/button-secondary/button-secondary';

.read-more {
    padding: 0;
    margin-bottom: 0;

    @media @screen-medium {
        display: flex;
    }
}

.read-more-links,
.read-more-highlight {
    @media @screen-medium {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
}

.read-more-highlight {
	position: relative;
	overflow: hidden;
    padding: @spacing-default*8 0;
    text-align: center;
    color: @white;
	text-decoration: none;
	height: 380px;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		.btn-secondary {
			.btn-secondary-hover-state-red;
		}
	}

	@media @screen-medium {
		height: auto;
	}
}

.read-more-highlight-img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
	background-position: center;
}

.read-more-highlight-content {
	position: relative;
}

.read-more-links a,
.read-more-highlight h2 {
    font-size: @title-medium-s;
    line-height: @line-height-header-small-l;
}

.read-more-highlight h2 {
    font-weight: @font-weight-bold;
    color: @white;

    @media @screen-medium {
        font-size: @title-medium-l;
        line-height: @line-height-heading-m;
    }

    @media @screen-large {
		margin-bottom: @spacing-large;
        font-size: @heading-l;
        line-height: @line-height-heading-l;
    }
}

.read-more-highlight .btn-primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    &:hover {
        background-color: @white;
        border-color: @white;
    }

    @media @screen-medium {
        width: 250px;
    }
    @media @screen-large {
        width: 295px;
    }
}

.read-more-links {
    color: @white;
    background-color: @blue;
    padding: @spacing-large @spacing-default*1.5;

    @media @screen-large {
        padding: @spacing-extra-large;
    }
}

.read-more-links > div:not(:last-child) {
    margin-bottom: @spacing-medium;
}

.read-more-links a {
    color: @white;
    text-decoration: none;
    font-weight: @font-weight-bold;
    font-size: @heading-small-s;
    line-height: @line-height-header-small-s;
    display: inline-block;
    margin-bottom: @spacing-default;

	svg {
		width: 35px;
		height: 35px;
		vertical-align: middle;
		fill: @white;
	}

    @media @screen-medium {
        font-size: @heading-small-m;
        line-height: @line-height-header-small-m;
    }

    @media @screen-large {
        font-size: @heading-small-l;
        line-height: @line-height-header-small-l;
    }
}

.read-more-links p {
    font-size: @body-text-s;
    line-height: @line-height-body-s;
    margin: 0;
    font-weight: @font-weight-normal;

    @media @screen-medium {
        font-size:  @body-text-m;
        line-height: @line-height-body-m;
    }

    @media @screen-large {
        font-size:  @body-text-l;
        line-height: @line-height-body-l;
    }
}
