@import (reference) '../../styles/variables.less';

.read-more {
    padding: 0;
    margin-bottom: 0;

    @media @screen-medium {
        display: flex;
    }
}

.read-more-links,
.read-more-highlight {
    @media @screen-medium {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
}

.read-more-highlight {
    background-size: cover;
    background-position: center;
    padding: @spacing-default*8 0;
    text-align: center;
    color: @white;
}

.read-more-links a,
.read-more-highlight h2 {
    font-size: @title-medium-s;
    line-height: @line-height-header-small-l;
}

.read-more-hightlight h2 {
    font-weight: @font-weight-bold;
    color: @white;

    @media @screen-medium {
        font-size: @title-medium-l;
        line-height: @line-height-heading-m;
    }

    @media @screen-large {
        margin-bottom: @spacing-large;
        font-size: @heading-l;
        line-height: @line-height-heading-l;
    }
}

.read-more-highlight .btn-primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    &:hover {
        background-color: @white;
        border-color: @white;
    }

    @media @screen-medium {
        width: 250px;
    }
    @media @screen-large {
        width: 295px;
    }
}

.read-more-links {
    color: @white;
    background-color: @blue;
    padding: @spacing-large @spacing-default;

    @media @screen-large {
        padding: @spacing-extra-large;
    }
}

.read-more-links > div:not(:last-child) {
    margin-bottom: @spacing-medium;
}

.read-more-links a {
    color: @white;
    text-decoration: none;
    font-weight: @font-weight-bold;
    font-size: @heading-small-s;
    line-height: @line-height-header-small-s;
    display: inline-block;
    margin-bottom: @spacing-default;

    &:hover {
        svg {
            background-color: transparent;

            path {
                fill: @white;
            }
        }
    }

    @media @screen-medium {
        font-size: @heading-small-m;
        line-height: @line-height-header-small-m;
    }
    
    @media @screen-large {
        font-size: @heading-small-l;
        line-height: @line-height-header-small-l;
    }
}

.read-more-links p {
    font-size: @body-text-s;
    line-height: @line-height-body-s;
    margin: 0;
    font-weight: @font-weight-normal;

    @media @screen-medium {
        font-size:  @body-text-m;
        line-height: @line-height-body-m;
    }

    @media @screen-large {
        font-size:  @body-text-l;
        line-height: @line-height-body-l;
    }
}
