@import (reference) '../../styles/variables.less';

.read-more {
    padding: 0;
    margin-bottom: 0;

    @media @screen-medium {
        display: flex;
    }
}

.read-more-links,
.read-more-highlight {
    @media @screen-medium {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
}

.read-more-highlight {
    background-size: cover;
    background-position: center;
    padding: 90px 0;
    text-align: center;
    color: @white;
}

.read-more-links a,
.read-more-highlight h2 {
    font-size: @title-medium-s;
    line-height: 38px;
}

.read-more-hightlight h2 {
    font-weight: @font-weight-bold;
    color: @white;

    @media @screen-medium {
        font-size: @title-medium-l;
        line-height: 58px;
    }

    @media @screen-large {
        margin-bottom: 40px;
        font-size: @heading;
        line-height: 55px;
    }
}

.read-more-highlight .btn-primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    &:hover {
        background-color: @white;
        border-color: @white;
    }

    @media @screen-medium {
        width: 250px;
    }
}

.read-more-links {
    color: @white;
    background-color: @blue;
    padding: 40px 1rem;

    @media @screen-large {
        padding: 60px 70px 60px 70px;
    }
}

.read-more-links > div:not(:last-child) {
    margin-bottom: 30px;
}

.read-more-links a {
    color: @white;
    text-decoration: none;
    font-weight: @font-weight-bold;
    display: inline-block;
    margin-bottom: 10px;

    &:hover {
        svg {
            background-color: transparent;

            path {
                fill: @white;
            }
        }
    }

    @media @screen-medium {
        font-size: @text-medium-l;
        line-height: 36px;
    }
    @media @screen-large {
        font-size: @heading-small;
        line-height: 38px;
    }
}

.read-more-links p {
    line-height: 28px;
    margin: 0;
    font-weight: @font-weight-normal;

    @media @screen-medium {
        font-size: @text-medium-m;
    }

    @media @screen-large {
        font-size: @body-text-s;
        line-height: 28px;
    }
}
