# vendor packages
node_modules

# project meta
.idea
.settings
*.sublime-project
*.sublime-workspace

# npm cruft
npm-debug.log

# dist
.next

# generated build files
build

# generated styles
static/styles

# data
data
static/data

# env
.env
.envrc
