@import (reference) '../../../styles/variables';

.button-showcase .style-guide-column-two {
    margin-bottom: 93px;
}

.button-showcase .style-guide-column-two div {
    vertical-align: bottom;
    text-align: center;

    @media @screen-medium {
        text-align: left;
    }
}
