@import (reference) '../../../styles/variables';

.button-showcase .two-column {
    margin-bottom: 93px;
}

.button-showcase .two-column div {
    vertical-align: bottom;
    text-align: center;

    @media @screen-medium {
        text-align: left;
    }
}
