@import (reference) '../../styles/variables';

.text-card {
	background: @white;
    margin-right: 1rem;
	position: relative;
    padding: 40px 45px 40px 1rem;

    @media @screen-small {
        margin-right: 6rem;
    }

    @media @screen-medium {
        margin-right: 50vw;
        padding: 55px;
    }

    // 1200 because if 1170 the text will stick to the side when the media querie just activated
    @media only screen and (min-width: 1200px)  {
        padding: 120px 110px;
        margin-left: calc(~'(100vw - @{container-inner-max-width}) / 2 - 110px'); // -110px for padding left. To align the text to the grid
    }
}

.text-card h2 {
    font-size: @title-medium-s;
    line-height: 36px;
    font-weight: @font-weight-bold;
    color: @dark-gray;

    @media @screen-large {
        font-size: @heading;
        line-height: @line-height-heading;
        margin-bottom: 30px;
    }
}

.text-card p {
    font-weight: @font-weight-normal;
    color: @dark-gray;

    @media @screen-large {
        font-size: @body-text;
        line-height: @line-height-body;
    }
}