@import (reference) '../../styles/variables';

.text-card {
	position: relative;
	margin-right: @spacing-default*1.5;
	padding: @spacing-default*4 @spacing-default*4 @spacing-default*4 @spacing-default*1.5;
	background-color: @white;

	@media @screen-500 {
		margin-right: @spacing-default*9;
	}

	@media @screen-768 {
		max-width: @column-large-4;
		margin-right: 50vw;
		padding: @spacing-default*5;
	}

	@media @screen-1024 {
		max-width: @column-large-6;
	}

	// 1200 because if 1170 the text will stick to the side when the media querie just activated
	@media (min-width: 1200px) {
		// -110px for padding left. To align the text to the grid
		margin-left: calc(~'(100vw - @{container-inner-max-width}) / 2 - 110px');
		padding: @spacing-default*11 @spacing-default*10;
	}
}

.text-card h2 {
	color: @darker-gray;
	font-size: @heading-s;
	font-weight: @font-weight-bold;
	line-height: @line-height-header-small-s;

	@media @screen-768 {
		font-size: @heading-m;
		line-height: @line-height-heading-m;
	}

	@media @screen-1170 {
		margin-bottom: @spacing-default*3;
		font-size: @heading-l;
		line-height: @line-height-heading-l;
	}
}

.text-card p {
	color: @darker-gray;
	font-size: @body-large-s;
	font-weight: @font-weight-normal;
	line-height: @line-height-body-large-s;

	@media @screen-768 {
		font-size: @body-large-m;
		line-height: @line-height-body-large-m;
	}

	@media @screen-1170 {
		font-size: @body-large-l;
		line-height: @line-height-body-large-l;
	}
}
