@import (reference) '../../styles/variables';
@import (reference) '../../styles/helpers';

.footer-locations-list {
	.list-no-style;
	margin-bottom: 20px;

	@media @screen-medium {
		white-space: nowrap;
	}
}

.footer-locations-list li {
	position: relative;
	display: inline-block;
	margin-left: 30px;
	color: @white;

	&::after {
		content: '/';
		display: block;
		position: absolute;
		top: 4px;
		left: -20px;
		font-size: 28px;
	}

	&:first-child {
		margin-left: 0;

		&::after{
			display: none;
		}
	}

	@media @screen-medium {
		min-width: 80px;
		text-align: center;

		&::after {
			top: -5px;
		}
	}

	@media @screen-large {
		line-height: @line-height-footer-items;
	}
}

.footer-locations-list button {
	font-size: @body-text-s;
	color: @white;
	text-transform: uppercase;
	border: none;
	background: transparent;
	padding: 0;
	position: relative;
	top: 4px;
	cursor: pointer;

	@media @screen-medium {
		font-size: @body-text-m;
	}

	@media @screen-large {
		font-size: @body-text-l;
	}

	transition: color .3s;

	&:hover {
		color: @red;
	}

	&:focus {
		outline: none;
	}

	&.is-active {
		font-weight: @font-weight-bold;
		border-bottom: none;
		font-size: @heading-small-l;
		line-height: @line-height-header-small-s;

		@media @screen-medium {
			font-size: @heading-small-l;
			line-height: @line-height-header-small-m;
		}

		@media @screen-large {
			font-size: @heading-small-l;
			line-height: @line-height-header-small-l;
		}
	}
}

.footer-locations-info {
	margin-bottom: 50px;
	
	.is-active {
		a {
			text-decoration: none;
		}
	}
}

.footer-locations-info div {
	display: none;

	&.is-active {
		display: block;
	}
}

.footer-locations-info p {
	margin-bottom: 0;
	font-size: @body-text-small-s;
	line-height: @line-height-body-small-s;
	font-weight: @font-weight-normal;
	color: @white;
	transition: color .3s;

	&:hover {
		color: @red;
	}
	
	@media @screen-medium {
		font-size: @body-text-small-m;
		line-height: @line-height-body-small-m;
	}

	@media @screen-large {
		font-size: @body-text-small-l;
		line-height: @line-height-body-small-l;
	}
}
