@import (reference) '../../styles/variables.less';
@import (once) '../../styles/helpers.less';

.footer-locations-list {
  .list-no-style();

  display: flex;
  flex-direction: row;
  margin-bottom: @spacing-default*2;
}

.footer-locations-list li {
  display: flex;
  position: relative;
  flex-direction: row;
  color: @white;

  @media @screen-1170 {
    line-height: @line-height-footer-items;
  }

  &:first-child {
    margin-left: 0;
  }
}

.footer-locations-list__spacer {
  margin: 0 @spacing-default;
  // font-size: 28px;

  @media @screen-1170 {
    margin: 0 @spacing-default*3;
  }
}

.footer-locations-list .btn-clean {
  display: inline-block;
  min-width: 70px;
  transition: color @animation-speed-slow;
  outline: none;
  font-size: @body-text-s;
  text-align: center;
  text-transform: uppercase;

  @media @screen-768 {
    font-size: @body-text-m;
  }

  @media @screen-1170 {
    font-size: @body-text-l;
  }

  &:hover {
    transition: color @animation-speed-fast;
    color: @red;
  }

  &.is-active {
    color: @white;
    font-size: @heading-small-l;
    font-weight: @font-weight-bold;
    line-height: @line-height-header-small-s;
    text-decoration: underline;

    @media @screen-768 {
      font-size: @heading-small-l;
      line-height: @line-height-header-small-m;
    }

    @media @screen-1170 {
      font-size: @heading-small-l;
      line-height: @line-height-header-small-l;
    }
  }
}

.footer-locations-info {
  margin-bottom: @spacing-default*5;

  a {
    margin-bottom: 0;
    transition: color @animation-speed-slow;
    color: @white;
    font-size: @body-text-small-s;
    font-weight: @font-weight-normal;
    line-height: @line-height-body-small-s;
    text-decoration: none;

    &:hover {
      transition: color @animation-speed-fast;
      color: @red;
    }

    @media @screen-768 {
      font-size: @body-text-small-m;
      line-height: @line-height-body-small-m;
    }

    @media @screen-1170 {
      font-size: @body-text-small-l;
      line-height: @line-height-body-small-l;
    }
  }
}
