@import (reference) '../../styles/variables';
@import (reference) '../../styles/helpers';

.image-composition-small {
  .clearfix;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 @spacing-default*1.5 @spacing-default*12 @spacing-default*1.5;

  .image-composition-small-inner {
    width: @column-large-8;
    column-count: 2;
    column-gap: @spacing-default*2;

    @media @screen-medium {
      column-gap: @spacing-default*4;
    }
  }

  .image-composition-img-1,
  .image-composition-img-2,
  .image-composition-img-3 {
    float: left;
  }

  .image-composition-img-1 {
    margin: @spacing-default*4 @spacing-default*2 @spacing-default*2 0;
    width: 100%;

    @media @screen-medium {
      margin: @spacing-default*6 @spacing-default*4 @spacing-default*4 0;
    }
  }

  .image-composition-img-2 {
    margin-right: @spacing-default*4;
    margin-left: 30%;
    width: 70%;
  }

  .image-composition-img-3 {
    width: 100%;
  }

  .image-person-img,
  .image-team-img {
    display: block;
    width: 100%;
  }
}


