@import (reference) '../../styles/variables';

.image-composition-small-shapes-1 {
  .shape-triangle-1 {
    display: none;
    position: absolute;
    z-index: 1;
    top: -265px;
    left: 12%;
    height: 168px;
    width: 148px;
    @media @screen-medium {
      display: block;
    }
  }
  .shape-triangle-2 {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: -150px;
    right: 0px;
    height: 93px;
    width: 106px;
    @media @screen-medium {
      display: block;
    }
  }
  .shape-circle-3 {
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 70px;
    height: 12px;
    width: 12px;
  }
  .shape-circle-4 {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 25%;
    height: 16px;
    width: 16px;
  }  

  .shape-diamond-5 {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 20%;
    height: 25px;
      width: 25px;
  }
}
