@import (reference) '../../styles/variables';
@import (reference) '../../styles/helpers';

.playground-card {
  position: relative;
  transition: transform @animation-speed-slow, box-shadow @animation-speed-slow;
  cursor: pointer;

  &:hover {
    .shadow();

    transform: scale(1.02);
    transition: transform @animation-speed-fast, box-shadow @animation-speed-fast;

    .playground-card::after {
      transition: opacity @animation-speed-fast;
    }
  }
}

.playground-card::after {
  transition: opacity @animation-speed-slow;
}

.playground-card-image {
  width: 100%;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;

  @media @screen-large {
    height: 450px;
  }
}

.playground-card-content {
  width: calc(~"100% - 32px");
  margin-top: -64px;
  margin-left: 16px;
  padding: 16px 12px;
  color: white;

  @media @screen-large {
    position: absolute;
    right: 24px;
    bottom: 24px;
    width: 50%;
    padding: 24px;
  }
}

.playground-card-title {
  margin-bottom: 0;
  font-size: 1.375rem;

  @media @screen-large {
    margin-bottom: 8px;
    font-size: 2.125rem;
  }
}

.playground-card-body {
  display: none;

  @media @screen-large {
    display: block;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.6;
  }
}

.playground-card-button svg {
  width: 32px;
  height: 32px;
  fill: white;

  @media @screen-large {
    width: 55px;
    height: 55px;
  }
}
