@import (reference) '../../styles/variables.less';

.updates-text-overview {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: @column-large-10;
	margin-bottom: @spacing-large;
	padding: 0 @spacing-default*1.5;

	@media @screen-medium {
		flex-direction: row;
		padding: 0 @spacing-medium;
	}
	@media @screen-large {
		padding: 0;
		margin-bottom: @spacing-large*2;
	}
}