@import (reference) '../../styles/variables.less';

.image-gallery {
  position: relative;
  background-color: @black;
}

.image-gallery-img {
  display: none;
  height: @full-width-image-height-s;

  @media @screen-768 {
    height: @full-width-image-height-m;
  }

  @media @screen-1170 {
    height: @full-width-image-height-l;
  }

  &.is-active {
    display: block;
  }
}

.image-gallery-navigation {
  position: absolute;
  top: 65px;
  left: 50%;
  width: 100%;
  max-width: @column-large-8;
  padding: 0 1rem;
  transform: translate(-50%, -50%);
  color: @white;
  text-align: center;

  @media @screen-768 {
    top: 50%;
    max-width: @column-small-8;
  }

  @media @screen-1170 {
    max-width: @column-large-10;
  }
}

.image-gallery-title {
  display: none;

  @media @screen-768 {
    display: block;
    font-size: @title-giant-m;
    line-height: @line-height-giant-m;
  }

  @media @screen-1170 {
    font-size: @title-giant-l;
    font-weight: @font-weight-bold-extra;
    line-height: @line-height-giant-l;
  }
}

.image-gallery-btn {
  display: inline-block;
  position: relative;
  padding: 0 @spacing-default*3 0 0;
  outline: none;

  &::after {
    content: '/';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 7px;
    font-size: @subtitle-large-m;

    @media @screen-1170 {
      font-size: @subtitle-large-l;
    }
  }

  &:last-child::after {
    content: '';
  }

  &.is-active {
    font-size: @subtitle-large-m;
    font-weight: @font-weight-bold;
    line-height: @line-height-subtitle-m;
    text-decoration: underline;

    @media @screen-1170 {
      font-size: @subtitle-large-l;
      line-height: @line-height-subtitle-l;
    }
  }
}
