@import (reference) '../../styles/variables';

.image-gallery {
	position: relative;
	
	.full-width-image {
		position: absolute;
		top:0;
		z-index: 1;
	}

	.full-width-image-active {
		z-index: 2;
	}
}