@import (reference) '../../styles/variables';

.team-image {
	width: 100%;
	max-width: @column-large-10;
	margin: 0 auto @spacing-default*4 auto;

	img {
		width: 100%;
	}

	@media @screen-1170 {
		margin: 0 auto @spacing-default*8 auto;
	}
}
