@import (reference) '../../styles/variables';

.services-overview-small {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: @spacing-default*5;
  padding-bottom: @spacing-default*6;
  overflow: hidden;

  @media @screen-1170 {
    margin: 0 auto;
    padding-bottom: @spacing-default*14;
  }

  .container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media @screen-768 {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  .animated-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 125px;
    height: 125px;
    transform: translate(-50%, -50%);

    @media @screen-768 {
      top: 50%;
    }
  }
}

.services-item-small__spacer {
  display: flex;
  position: relative;
  width: 100%;
  height: 125px;

  @media @screen-768 {
    height: 250px;
  }
}

.services-item-small__shape {
  display: none;
  width: 125px;
  height: 250px;
  margin: 0 auto;
  transform: scaleY(.5);
  transition: all .2s;
  border-radius: 4px;

  @media @screen-768 {
    display: flex;
  }

  &.red {
    background-color: @red;
  }

  &.yellow {
    background-color: @yellow;
  }

  &.green {
    background-color: @green;
  }
}

.services-item-small {
  display: flex;
  position: relative;
  width: 100%;
  padding: @spacing-default*4 @spacing-default*2 @spacing-default*4 0;
  border-bottom: 1px solid @light-gray;
  text-decoration: none;

  &:last-child {
    border-right: none;
    border-bottom: none;
  }

  @media @screen-500 {
    flex-direction: column;
    max-width: 350px;
    margin-bottom: @spacing-default*4;
    padding: 0 0 @spacing-default*4;
  }

  @media @screen-768 {
    width: 33.33%;
    max-width: none;
    margin-bottom: 0;
    padding: 0;
    border-bottom: none;
    border-radius: 4px;

    &:hover {
      background-color: @white;
      box-shadow: 0 25px 50px 0 fade(@black-deep, 20%);

      .services-item-small__shape {
        flex-grow: 1;
        transform: scaleY(1);
      }
    }
  }
}

.services-overview-small-header {
  position: relative;
  width: 100%;
  margin-bottom: @spacing-default*4;
  color: @black;
  font-size: @heading-s;
  font-weight: @font-weight-bold;
  line-height: @line-height-subtitle-m;
  text-align: center;

  @media @screen-768 {
    font-size: @heading-m;
    line-height: @line-height-heading-m;
  }

  @media @screen-1170 {
    font-size: @heading-l;
    line-height: @line-height-heading-l;
  }
}

.services-item-small-content {
  width: 100%;
  padding-left: @spacing-default*2;
  float: none;
  color: @black;
  text-align: center;

  .btn-secondary {
    margin-bottom: 0;
    float: left;
    pointer-events: none;

    @media @screen-500 {
      margin-right: auto;
      margin-left: auto;
      float: none;
    }
  }

  @media @screen-500 {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-top: @spacing-default*4;
    padding-left: 0;
  }

  @media @screen-768 {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: @spacing-default*4 0;
  }
}

.services-item-small-heading {
  margin: 0 0 @spacing-default 0;
  padding: 0  @spacing-default*4 0 0;
  font-size: @body-text-s;
  font-weight: @font-weight-bold;
  line-height: @line-height-body-s;
  text-align: left;

  @media @screen-500 {
    padding: 0;
    text-align: center;
  }

  @media @screen-768 {
    margin-bottom: @spacing-default*3;
    font-size: @body-text-m;
    line-height: @line-height-body-m;
    text-align: center;
  }

  @media @screen-1170 {
    font-size: @heading-small-l;
    line-height: @line-height-header-small-l;
  }
}

.services-item-description {
  height: auto;
  margin-bottom: @spacing-default*3;
  padding-right: @spacing-default*4;
  overflow: hidden;
  font-size: @body-text-s;
  line-height: @line-height-body-s;
  text-align: left;

  @media @screen-500 {
    padding-right: @spacing-default*2;
    padding-left: @spacing-default*2;
    text-align: center;
  }

  @media @screen-768 {
    height: 140px;
  }

  @media @screen-1024 {
    height: 100px;
  }

  @media @screen-1170 {
    height: 170px;
    font-size: @body-text-l;
    line-height: @line-height-body-l;
  }
}
