@import (reference) '../../styles/variables';
@import (reference) '../../styles/helpers';

.work-overview {
	.clearfix;
	margin-bottom: @spacing-large;

	.work-overview-header {
		margin-bottom: @spacing-default*4;
		text-align: center;
		font-size: @heading-s;
		line-height: @line-height-heading-s;
	}

	.case-extract-small {
		width: 100%;
	}

	@media @screen-medium {
		.work-overview-header {
			font-size: @heading-m;
			line-height: @line-height-heading-m;
		}

		.case-extract-small {
			float: left;
			width: calc(~"50% - 20px");
		}

		.case-extract-small:nth-child(odd) {
			margin-right: @spacing-default * 2;
		}

		.case-extract-small:nth-child(even){
			margin-left: @spacing-default * 2;
		}
	}

	@media @screen-large {
		.work-overview-header {
			margin-bottom: @spacing-default*6;
			font-size: @heading-l;
			line-height: @line-height-heading-l;
		}
	}
}

.work-overview-extra-spacing {
	margin-bottom: @spacing-large*2;

	@media @screen-large {
		margin-bottom: 120px;
	}
}
