@import (reference) '../../styles/variables';

.inline-media.inline-media-large {
	max-width: @column-large-9;
	height: auto;
	margin-bottom: @spacing-default*4;
	padding: 0;
	color: @grey-caption;

	@media @screen-1170 {
		margin-bottom: @spacing-default*8;
	}

	p {
		display: block;
		width: 100%;
		margin: @spacing-default*1.5 0;
		font-size: @body-large-s;
		line-height: @line-height-body-large-s;
		text-align: center;
	}
}

.inline-media {
	width: 100%;
	margin: auto;
	margin-bottom: @spacing-default*4;
	padding: 0 @spacing-default*1.5;
	color: @dark-gray;
	font-weight: @font-weight-normal;
	text-align: center;

	@media @screen-768 {
		max-width: @column-large-7;
		margin-bottom: @spacing-default*8;
	}

	@media @screen-1170 {
		padding: 0;
	}

	p {
		font-size: @body-small-s;
		line-height: @line-height-body-small-s;

		@media @screen-768 {
			margin-top: @spacing-default;
			font-size: @body-small-m;
			line-height: @line-height-body-small-m;
		}

		@media @screen-1170 {
			font-size: @body-small-l;
			line-height: @line-height-body-small-l;
		}
	}
}

.inline-media-container {
	width: 100%;
	height: auto;
	overflow: hidden;

	@media @screen-500 {
		height: auto;
	}
}
