@import (reference) '../../styles/variables';

.author {
	display: flex;
	width: 100%;
	max-width: @column-large-7;
	height: 100%;
	margin: auto;
	margin-bottom: @spacing-default*3;
	padding: @spacing-default*3;
	background-color: @lightest-gray;

	@media @screen-1170 {
		margin-bottom: @spacing-default*4;
		padding: @spacing-default*6;
	}

	&:last-child {
		margin-bottom: @spacing-default*4;

		@media @screen-1170 {
			margin-bottom: @spacing-default*8;
		}
	}
}

.author-image {
	width: 92px;
	height: 123px;
}

.author-text {
	padding-left: @spacing-default*1.5;

	@media @screen-500 {
		padding: 0 @spacing-default*1.5;
	}

	@media @screen-1170 {
		padding: 0 @spacing-default*1.5 0 @spacing-default*3;
	}
}

.author-name {
	margin-top: 0;
	margin-bottom: @spacing-default;
	font-size: @heading-small-s;
	font-weight: @font-weight-bold;
	line-height: @line-height-header-small-s;

	@media @screen-768 {
		font-size: @heading-small-m;
		line-height: @line-height-header-small-m;
	}

	@media @screen-1170 {
		font-size: @heading-small-l;
		line-height: @line-height-header-small-l;
	}
}

.author-roles {
	margin-top: 0;
	margin-bottom: @spacing-default;
	color: @dark-gray;
	font-size: @body-large-s;
	font-weight: @font-weight-normal;
	line-height: @line-height-body-large-s;

	@media @screen-768 {
		font-size: @body-large-m;
		line-height: @line-height-body-large-m;
	}

	@media @screen-1170 {
		font-size: @body-large-l;
		line-height: @line-height-body-large-l;
	}
}

.author-summary {
	margin-top: 0;
	margin-bottom: 0;
	color: @darker-gray;
	font-size: @body-small-s;
	font-weight: @font-weight-normal;
	line-height: @line-height-body-small-s;

	@media @screen-768 {
		font-size: @body-small-m;
		line-height: @line-height-body-small-m;
	}

	@media @screen-1170 {
		font-size: @body-small-l;
		line-height: @line-height-body-small-l;
	}
}
