@import (reference) '../../styles/variables';

.case-scrolling-content {
  margin-top: 100vh; // height of header image
  padding-top: @spacing-default*5;
  position: relative;
  background: @white;

  @media @screen-medium {
    padding-top: @spacing-medium*3;
  }
}
