@import (reference) '../../styles/variables';

.case-scrolling-content {
	margin-top: 100vh; // height of header image
	padding-top: 50px;
	position: relative;
	background: @white;
    width: 100%;
	@media @screen-medium {
		padding-top: 100px;
	}
}
