@import (reference) '../../styles/variables';

.article-error {
  display: flex;
  height: 100vh;

  .text-center {
    align-self: center;

    .text-center-text {
      font-size: @subtitle-large-s;
      line-height: @line-height-subtitle-s;
    }

    @media @screen-768 {
      .text-center-text {
        font-size: @subtitle-large-m;
        line-height: @line-height-subtitle-m;
      }
    }

    @media @screen-1170 {
      .text-center-text {
        font-size: @subtitle-large-l;
        line-height: @line-height-subtitle-l;
      }
    }
  }
}

// temp fix for bug in nextjs rendering 500 page twice.
// keep an eye on this 'well explained' github issue for a possible fix
// https://github.com/zeit/next.js/issues/2964
#__next .is-500-error {
  display: none;
}
