@import (reference) '../../styles/variables';

.service-page {
  .page-scrolling-content-small {
    margin-top: @spacing-default*40;
    padding-top: 0;

    @media @screen-500 {
      margin-top: @spacing-default*40;
    }

    @media @screen-768 {
      padding-top: 0;
    }
  }

  .tab-selector {
    transform: translateY(-50%);
  }
}
