@import (reference) '../../styles/variables';

.team-overview__cta-container {
	margin-top: -(@spacing-default*8);

	@media @screen-1024 {
		margin-top: -(@spacing-default*12);
	}
}

.team-overview__cta-container .call-to-action {
	margin-bottom: 0;
}
