@import (reference) '../../styles/variables';

@track-slider-easing: .5s cubic-bezier(.6,0,.7,1);

.tab-selector {
  display: flex;
  position: relative;
  z-index: 0;
  width: auto;
  margin: -@spacing-default*12 @spacing-default*1.5 @spacing-default*5 @spacing-default*1.5;
  padding: @spacing-default;
  border-radius: 5px;
  background-color: @white;

  @media @screen-500 {
    margin: -@spacing-default*12 @spacing-default*1.5 @spacing-default*9 @spacing-default*1.5;
  }

  @media @screen-768 {
    margin-top: -@spacing-default*13;
  }

  @media @screen-1170 {
    max-width: @column-large-10;
    margin: -@spacing-default*14.5 auto @spacing-default*9 auto;
  }
}

.tab-selector__track {
  display: flex;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: @spacing-default;
}

.tab-selector__track-slider {
  position: relative;
  width: calc(100% / 3);
  height: 100%;
  transition: left @track-slider-easing, background-color @track-slider-easing;
  border-radius: 4px;
}

.tab-selector-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  height: 100%;
  padding: @spacing-default 0;
  transition: color @track-slider-easing;
  background-color: transparent;
  color: @black;
  text-decoration: none;

  @media @screen-768 {
    flex-direction: row;
    justify-content: center;
    padding: @spacing-default*1.5 0;
  }
}

.tab-selector-item-red.is-selected,
.tab-selector-item-green.is-selected,
.tab-selector-item-yellow.is-selected {
  color: @white;
}

.tab-selector-item-red.is-selected ~ .tab-selector__track .tab-selector__track-slider {
  left: 0;
  background-color: @red;
}

.tab-selector-item-green.is-selected ~ .tab-selector__track .tab-selector__track-slider {
  left: calc(100% / 3);
  background-color: @green;
}

.tab-selector-item-yellow.is-selected ~ .tab-selector__track .tab-selector__track-slider {
  left: calc((100% / 3) * 2);
  background-color: @yellow;
}

.tab-selector-item-shape {
  width: 40px;
  height: 40px;
  margin: 0 auto @spacing-default;

  @media @screen-768 {
    margin: 0 @spacing-default*1.5 0 0;
  }

  @media @screen-1170 {
    width: 50px;
    height: 50px;
    margin: 0 @spacing-default*3 0 0;
  }
}

.tab-selector-item-title {
  margin-bottom: 0;
  font-size: @body-text-s;
  font-weight: @font-weight-normal;
  line-height: @line-height-body-small-s;
  text-align: center;

  @media @screen-1024 {
    font-size: @body-text-m;
    line-height: @line-height-body-small-m;
  }

  @media @screen-1170 {
    font-size: @body-text-l;
    line-height: @line-height-body-small-l;
  }
}
