@import (reference) '../../styles/variables';

.tab-selector {
	position: relative;
	width: auto;
	height: 140px;
	margin: -70px @spacing-default*1.5 @container-margin-bottom-s @spacing-default*1.5;
	padding: 0;

	@media @screen-small {
		margin: -70px @spacing-default*1.5 @container-margin-bottom-l @spacing-default*1.5;
	}

	@media @screen-medium {
		height: 80px;
		margin-top: -40px;
	}

	@media @screen-large {
		height: 90px;
		max-width: @column-large-10;
		margin: -45px auto @container-margin-bottom-l auto;
	}
}

.tab-selector-item {
	display: block;
	float: left;
	width: calc(100%/3);
	padding: @spacing-small;
	text-decoration: none;
	color: @black;
	background: @white;
	border-right: 1px solid @lighter-gray;
	height: 100%;

	&:last-child {
		border-right: 0;
	}

	@media @screen-medium {
		padding: @spacing-small;
	}

	@media @screen-medium-large {
		padding: @spacing-small @spacing-default*2.5 @spacing-small @spacing-medium*2;

		&:nth-child(2) {
			padding-right: @spacing-medium*3;
		}
	}
}

.tab-selector-item-blue:active,
.tab-selector-item-blue:hover {
	background: @blue;
	color: @white;
}

.tab-selector-item-green:active,
.tab-selector-item-green:hover {
	background: @green;
	color: @white;
}

.tab-selector-item-purple:active,
.tab-selector-item-purple:hover {
	background: @purple;
	color: @white;
}

.tab-selector-item-shape {
	width: 39px;
	height: 39px;
	margin: 0 auto @spacing-default auto;

	@media @screen-medium {
		float: left;
	}

	@media @screen-large {
		width: 50px;
		height: 50px;
		margin-right: @spacing-medium;
	}
}

.tab-selector-item-title {
	text-align: center;
	font-size: @body-text-s;
	font-weight: @font-weight-normal;
	line-height: @line-height-body-small-s;
	margin-bottom: @spacing-default*1.5;

	@media @screen-medium{
		float: left;
		padding-top: @spacing-default;
		padding-left: @spacing-default;
	}
	@media @screen-medium-large {
		font-size: @body-text-m;
		line-height: @line-height-body-small-m;
	}
	@media @screen-large {
		padding-left: 0;
		font-size: @body-text-l;
		line-height: @line-height-body-small-l;
	}
}
