.case-text-center {
    text-align: center;
}

.case-text-center .container-inner {
    max-width: 800px;
}

.case-text-center h2 {
    font-size: 30px;
    line-height: 36px;

    @media @screen-medium {
        font-size: 66px;
        line-height: 70px;
    }
}

.case-text-center p {
    line-height: 28px;
}
