.layout__preview-notice {
	z-index: @layer-notice;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: @black;
	color: @white;
	font-weight: bold;
	height: @header-height;
}

.layout__preview-notice-link {
	color: @white;
}
