@import (reference) '../../styles/variables';

.team-selector {
	display: flex;
	position: relative;
	z-index: @layer-raised;
	width: auto;
	height: 70px;
	margin: -@spacing-default*8.5 @spacing-default*1.5 @spacing-default*3 @spacing-default*1.5;
	padding: 0;

	@media @screen-500 {
		max-width: @column-large-4;
		margin: -@spacing-default*8.5 auto @spacing-default*3 auto;
	}

	@media @screen-768 {
		height: 90px;
		margin: -@spacing-default*13.5 auto @spacing-default*9 auto;
	}
}

.team-selector-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	padding: @spacing-default*2;
	background-color: @white;
	color: @black;
	text-decoration: none;
}

.team-selector-item:hover {
	background-color: @red;
	color: @white;
}

.team-selector-item.is-selected {
	background-color: @blue;
	color: @white;
}

.team-selector-item-title {
	margin-bottom: 0;
	font-size: @body-large-s;
	font-weight: @font-weight-normal;
	line-height: @line-height-body-small-s;

	@media @screen-768 {
		font-size: @body-large-m;
		line-height: @line-height-body-small-m;
	}

	@media @screen-1170 {
		font-size: @body-large-l;
		line-height: @line-height-body-small-l;
	}
}
