@import (reference) '../../../styles/variables.less';
@import (once) '../buttons.less';

@icon-size: 16px;

.btn-secondary {
  .btn-basis;

  margin-bottom: @spacing-default*2;
  border: 1px solid @white;
  background-color: transparent;
  color: @white;

  &:hover:enabled:not(.vertical-spring) {
    .btn-secondary-hover-state;
  }

  .icon svg path {
    transition: fill @animation-speed ease;
    fill: @white;
  }
}

.vertical-spring {
  .icon {
    animation-name: vertical-spring-icon-from;
  }

  &:hover:enabled {
    .hover-state-arrow-down;
  }
}

.vertical-spring.arrow-up {
  .icon {
    margin-top: 0;
    animation-name: vertical-spring-icon-to;
  }

  &:hover:enabled {
    .hover-state-arrow-up;
  }
}

.btn-secondary.btn-wide {
  padding: @spacing-default @spacing-default*7 @spacing-default @spacing-default*5;
}

.btn-secondary.btn-centered {
  display: block;
  margin: 0 auto;
}

.btn-secondary.btn-red-border {
  border: 1px solid @red;
  color: @red;

  .icon svg path {
    fill: @red;
  }

  &:hover:enabled {
    transition: color @animation-speed-fast, background @animation-speed-fast;
    background-color: @red;
    color: @white;

    .icon svg path {
      fill: @white;
    }
  }
}

// this allows to include button hover states in other components
.btn-secondary-hover-state {
  .btn-basis-hover-state;

  transition: color @animation-speed-fast, background-color @animation-speed-fast;
  background-color: @white;
  color: @blue;

  .icon svg path {
    fill: @blue;
  }
}

.btn-secondary-hover-state-red {
  .btn-secondary-hover-state;

  transition: color @animation-speed-fast, background-color @animation-speed-fast;
  background-color: @white;
  color: @red;

  .icon svg path {
    fill: @red;
  }
}

.btn-secondary-hover-state-green {
  .btn-secondary-hover-state;

  transition: color @animation-speed-fast;
  color: @green;

  .icon svg path {
    fill: @green;
  }
}

.btn-secondary-hover-state-purple {
  .btn-secondary-hover-state;

  transition: color @animation-speed-fast;
  color: @purple;

  .icon svg path {
    fill: @purple;
  }
}

.btn-secondary.btn-green:hover:enabled {
  .btn-secondary-hover-state-green;
}

.btn-secondary.btn-purple:hover:enabled {
  .btn-secondary-hover-state-purple;
}

.btn-secondary.btn-red:hover:enabled {
  .btn-secondary-hover-state-red;
}
