@import (reference) '../../styles/variables';

.text-center-shapes-1 .shape-rectangle-1 {
	position: absolute;
	top: 30px;
	left: 5%;
	width: auto;
	max-width: 100%;
	height: 10px;

	@media @screen-768 {
		top: 150px;
		height: 16px;
	}
}

.text-center-shapes-2 {
	.shape-triangle-1 {
		position: absolute;
		top: -100px;
		left: 85%;
		width: auto;
		max-width: 100%;
		height: 28px;

		@media @screen-768 {
			top: 0;
			left: 90%;
			height: 110px;
		}
	}

	.shape-diamond-1 {
		display: none;
		position: absolute;
		width: auto;
		max-width: 100%;

		@media @screen-768 {
			display: inline-block;
			top: -100px;
			left: 75%;
			height: 25px;
		}
	}

	.shape-circle-1 {
		position: absolute;
		top: -50px;
		left: 20%;
		width: auto;
		max-width: 100%;
		height: 15px;
	}

	.shape-circle-2 {
		display: none;
		position: absolute;
		width: auto;
		max-width: 100%;

		@media @screen-768 {
			display: inline-block;
			top: 150px;
			left: 25%;
			height: 12px;
		}
	}
}

.text-center-shapes-3 {
	.shape-diamond-1 {
		display: none;
		position: absolute;
		width: auto;
		max-width: 100%;

		@media @screen-768 {
			display: inline-block;
			bottom: -100px;
			left: 10%;
			height: 25px;
		}
	}

	.shape-diamond-2 {
		display: none;
		position: absolute;
		width: auto;
		max-width: 100%;

		@media @screen-768 {
			display: inline-block;
			top: -100px;
			left: 80%;
			height: 25px;
		}
	}

	.shape-circle-1 {
		position: absolute;
		top: -150px;
		left: 30%;
		width: auto;
		max-width: 100%;
		height: 15px;
	}

	.shape-circle-2 {
		position: absolute;
		top: 250px;
		left: 75%;
		width: auto;
		max-width: 100%;
		height: 15px;
	}
}

.text-center-shapes-4 {
	.shape-triangle-1 {
		position: absolute;
		top: -70px;
		left: 90%;
		width: auto;
		max-width: 100%;
		height: 52px;

		@media @screen-768 {
			top: -120px;
			left: 80%;
			height: 76px;
		}

		@media @screen-1170 {
			top: 40px;
			left: 80%;
			height: 100px;
		}
	}
}

.text-center-shapes-5 {
	.shape-triangle-1 {
		position: absolute;
		top: -70px;
		left: 0;
		width: auto;
		max-width: 100%;
		height: 52px;

		@media @screen-768 {
			top: -120px;
			left: -50px;
			height: 76px;
		}

		@media @screen-1170 {
			top: 40px;
			height: 100px;
		}
	}

	.shape-triangle-2 {
		position: absolute;
		top: -70px;
		right: 0;
		width: auto;
		max-width: 100%;
		height: 52px;

		@media @screen-768 {
			top: -120px;
			height: 76px;
		}

		@media @screen-1170 {
			top: -300px;
			height: 100px;
		}
	}

	.shape-triangle-3 {
		position: absolute;
		bottom: -70px;
		left: 30%;
		width: auto;
		max-width: 100%;
		height: 52px;

		@media @screen-768 {
			bottom: -240px;
			left: 30%;
			height: 76px;
		}

		@media @screen-1170 {
			bottom: -300px;
			left: 30%;
			height: 80px;
		}
	}

	.shape-triangle-4 {
		position: absolute;
		right: -100px;
		bottom: -70px;
		width: auto;
		max-width: 100%;
		height: 52px;

		@media @screen-768 {
			bottom: -120px;
			height: 76px;
		}

		@media @screen-1170 {
			bottom: -300px;
			height: 100px;
		}
	}

	.shape-triangle-5 {
		position: absolute;
		top: -105px;
		left: 150px;
		width: auto;
		max-width: 100%;
		height: 29px;

		@media @screen-768 {
			top: -220px;
		}

		@media @screen-1170 {
			top: -195px;
		}
	}
}
