@import (reference) '../../styles/variables';

.text-center {
    text-align: center;
    margin-bottom: @spacing-default*8;
    position: relative;
    max-width: @column-small-12;

    a {
        &,
        &:visited {
            color: @red;
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    @media @screen-medium {
        max-width: @column-large-6;
    }
    @media @screen-medium-large {
        max-width: @column-large-7;
    }
    @media @screen-large {
        max-width: @column-large-10;
    }
}

.text-center-spacing-large {
    @media @screen-small {
        padding-top: @spacing-large;
        padding-bottom: @spacing-large*2;
    }
}

.text-center-spacing-small {
    margin-bottom: @spacing-default*3;
    @media @screen-small {
        padding-top: @spacing-large;
        margin-bottom: @spacing-large*2;
    }
}

.text-center .container-inner {
    max-width: @column-small-4;
    @media @screen-medium {
        max-width: @column-large-6;
    }
    @media @screen-medium-large {
        max-width: @column-large-8;
    }
    @media @screen-large {
        max-width: @column-large-8;
    }
}

.text-center h2 {
    font-size: @heading-s;
    line-height: @line-height-heading-s;
    font-weight: @font-weight-bold;
    color: @darker-gray;

    @media @screen-medium {
        font-size: @heading-m;
        line-height: @line-height-heading-m;
    }
    @media @screen-large {
        font-size: @heading-l;
        line-height: @line-height-heading-l;
    }
}

.text-center p {
    font-size: @body-text-s;
    line-height: @line-height-body-s;
    font-weight: @font-weight-normal;
    color: @darker-gray;
    
    @media @screen-medium {
        font-size: @body-text-m;
        line-height: @line-height-body-m;
    }

    @media @screen-large {
        font-size: @body-text-l;
        line-height: @line-height-body-l;
    }
}

.text-center-font-title h2 {
    font-size: @heading-s;
    line-height: @line-height-subtitle-m;
    font-weight: @font-weight-bold;

    @media @screen-medium {
        font-size: @heading-m;
        line-height: @line-height-heading-m;
    }
    @media @screen-large {
        font-size: @heading-l;
        line-height: @line-height-heading-l;
    }    
}

.text-center-font-large p {
    font-size: @subtitle-large-s;
	line-height: @line-height-subtitle-s;
    font-weight: @font-weight-light;
    color: @darker-gray;

	@media @screen-medium {
		line-height: @line-height-subtitle-m;
		font-size: @subtitle-large-m;
    }

    @media @screen-large {
        line-height: @line-height-subtitle-l;
        font-size: @subtitle-large-l;
    }
}

.text-center-font-medium p {
    font-size: @body-text-s;
	line-height: @line-height-body-s;
	font-weight: @font-weight-normal;
    color: @darker-gray;

	@media @screen-medium {
		line-height: @line-height-body-m;
		font-size: @body-text-m;
    }
    @media @screen-large {
        font-size: @body-text-l;
        line-height: @line-height-body-l;
    }
}
