@import (reference) '../../../styles/variables';

.shape-trail-diamond {
  transform: scale(1.33);
  transform-origin: center 20%;
}

.shape-trail-diamond-bg {
  fill: @red;
}

.shape-trail-diamond-front {
  fill: @blue;
}
