@import (reference) '../../styles/variables';

.services-intro-triangle-1 {
	position: absolute;
	top: -328px;
	left: 20%;
	width: auto;
	height: 300px;
}

.services-intro-triangle-2 {
	position: absolute;
	top: -100px;
	left: 70%;
	width: auto;
	height: 87px;
}

.services-intro-triangle-3 {
	position: absolute;
	top: 40px;
	left: 90%;
	width: auto;
	height: 233px;
}

.services-intro-triangle-4 {
	position: absolute;
	top: 230px;
	left: 10%;
	width: auto;
	height: 150px;
}

.services-intro-rectangle-1 {
	position: absolute;
	top: 0;
	left: 10%;
	width: auto;
	height: 16px;
}

.services-intro-diamond-1 {
	position: absolute;
	top: 350px;
	left: 75%;
	width: auto;
	height: 25px;
}

.services-intro-circle-1 {
	position: absolute;
	top: 500px;
	left: 25%;
	width: auto;
	height: 30px;
}
