@import (reference) '../../styles/variables';

.services-intro {
	position: relative;
    text-align: center;
    margin-bottom: 95px;
	margin-top: @header-height + @header-margin-sm;

	@media @screen-medium {
		margin-top: @header-height + @header-margin-lg;
        margin-bottom: 150px;
	}
}

.services-intro .section-header {
    line-height: 1.27;
    margin: 100px 0 170px;

	@media @screen-small {
		font-size: @large-title-s;
	}

    @media @screen-medium {
		font-size: @large-title-m;
        margin: 100px 55px 170px;
	}

    @media @screen-large {
        font-size: @large-title-l;
    }
}
