@import (reference) '../../styles/variables';

.services-intro {
    text-align: center;
}

.services-intro h1 {
	font-size: 30px;

	@media @screen-medium {
		font-size: 36px;
	}
}

.services-intro p {
	margin-bottom: 32px;

	@media @screen-medium {
		margin: 0 95px 32px 95px;
	}
}

.services-intro .btn {
	text-align: center;
	font-size: 18px;

	@media @screen-medium {
		width: auto;
	}
}
