@import (reference) '../../styles/variables';

.services-approach {
	position: relative;
}

.services-approach-inner p {

	text-align: center;
	max-width: 800px;
	line-height: 1.75;
	margin: 0 auto 100px;
	color: @dark-gray;

	@media @screen-medium {
		margin: 0 auto 130px;
        font-size: 20px;
	}
	
	@media @screen-large {
		
			font-size: @subtitle-large-l;
			line-height: 50px;
		
	}
}
