@darken-value: 10%;

.filter {
  text-align: center;
  margin-bottom: @spacing-medium;
}

.filter-item {
  display: inline;
  list-style: none;
}

.filter-item-button {
  font-family: @font-main;
  font-size: @body-text-small-m;
  padding: @spacing-default @spacing-default*1.5;
  color: @black;
  cursor: pointer;
  background: @white-grey;
  border: 0;
  border-radius: @spacing-medium;
  margin-right: @spacing-default/2;
  margin-left: @spacing-default/2;
  margin-bottom: 14px;
  transition: @animation-speed color ease-out, @animation-speed background-color ease-out;

  @media @screen-medium {
    font-size: @body-text-s;
    margin-right: @spacing-medium;
    margin-bottom: @spacing-small;
    padding: @spacing-small @spacing-medium;
  }
}

.filter-item-button:hover {
  background: darken(@white-grey, @darken-value);
}

.filter-item-button--active {
  color: @white;
  background: @blue;
}

.filter-item-button--active:hover {
  background: darken(@blue, @darken-value);
}
