@import (reference) '../../styles/variables';

.image-composition-large {
	.clearfix;
	padding: 0 @spacing-default*1.5 @spacing-medium*2 @spacing-default*1.5;
	margin-bottom: @spacing-medium*3;

	.teamimage-large {
		max-width: 100%;

		@media @screen-medium {
			padding-bottom: @spacing-small*2;
		}
		@media @screen-large {
			max-width: @column-large-4;
		}
	}

	//.teamimage-spaced {
	//	padding: 0 @spacing-default*1.5 @spacing-default*1.5 0px;
	//	margin: 0;
	//
	//	@media @screen-medium-large {
	//		padding: 0 @spacing-default;
	//	}
	//
	//	@media @screen-large {
	//		padding-right: @spacing-default*3;
	//		padding-left: 0;
	//		margin-top: @spacing-medium*2;
	//	}
	//}
	//
	//.teamimage-person-small {
	//	float: left;
	//	width: 50%;
	//
	//	@media @screen-small {
	//		max-width: 100%;
	//		margin-top: 0;
	//	}
	//
	//	@media @screen-medium-large {
	//		width: 25%;
	//		margin: 155px 0px 160px 0px;
	//	}
	//
	//	@media @screen-large {
	//		margin: 210px 0px 147px 0px;
	//	}
	//}
	//
	//.teamimage-person-small-padded {
	//	@media @screen-medium-large {
	//		margin: @spacing-small @spacing-default 0 @spacing-extra-large*2;
	//	}
	//	@media @screen-large {
	//		margin: @spacing-small*2 0px 0 @spacing-extra-large*2;
	//	}
	//}
}

.image-composition-text {
	width: 100%;
	position: relative;
	float: left;
	margin-right: @spacing-default*1.5;
	margin-left: 0;
	padding: @spacing-small*2 @spacing-default @spacing-medium*2 @spacing-small*2;
	background-color: @purple;
	color: @white;

	@media @screen-medium-large {
		margin-top: -135px;
		margin-right: 0;
		width: 56%;
		max-width: 550px;
		height: auto;
	}

	@media @screen-large {
		margin-top: -115px;
	}
}

.image-composition-text-title {
	font-size: @heading-small-s;
}

.image-composition-text-list {
	list-style: none;
	padding-left: 0;
	margin-top: @spacing-small;
	font-size: @heading-small-s;
	font-style: italic;
	line-height: @line-height-header-small-s;

	@media @screen-medium {
		font-size: @heading-small-m;
		line-height: @line-height-header-small-m;
	}

	@media @screen-large {
		margin-top: @spacing-medium*2;
		font-size: @heading-small-l;
		line-height: @line-height-header-small-l;
	}

	&:before {
		background-color: transparent;
	}
}

.image-composition-text-list-item {
	margin: 0 0 @spacing-small 0;
	@media @screen-large {
		margin: 0 0 @spacing-small*2 0;
	}
}

.image-composition-text-list-icon {
	padding-right: @spacing-small;

	svg {
		width: 10px;
		height: 10px;
	}

	@media @screen-large {
		padding-right: @spacing-default*3;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}


