@import (reference) '../../styles/variables';

.image-composition-large {
	.clearfix;
	padding: 0 0 @spacing-medium*2 @spacing-default*1.5;
	margin-bottom: @spacing-medium*3;
	
	.teamimage-large {
		max-width: 100%;

		@media @screen-medium {
			padding-bottom: @spacing-small*2;
		}
		@media @screen-large {
			max-width: @column-large-4;
		}
	}

	.teamimage-spaced {
		padding: 0 @spacing-default*1.5 @spacing-default*1.5 0px;
		margin: 0;

		@media @screen-medium-large {
			padding: 0 @spacing-default;	
		}

		@media @screen-large {
			padding-right: @spacing-default*3;
			padding-left: 0;
			margin-top: @spacing-medium*2;
		}
	}

	.teamimage-person-small {
		float: left;
		width: 50%;
		
		@media @screen-small {
			max-width: 100%;
			margin-top: 0;
		}

		@media @screen-medium-large {
			width: 25%;
			margin: 155px 0px 160px 0px;
		}

		@media @screen-large {
			margin: 210px 0px 147px 0px;
		}
	}
	.teamimage-person-small-padded {
		@media @screen-medium-large {
			margin: @spacing-small @spacing-default 0 @spacing-extra-large*2;
		}
		@media @screen-large {
			margin: @spacing-small*2 0px 0 @spacing-extra-large*2;
		}
	}


	.text-block-small {
		clear: both;
		width: auto;
		margin-right: @spacing-default*1.5;
		font-family: @main-font;
		margin-left: 0;

		@media @screen-medium-large {
			clear:both;
			width: 56%;
			height: auto;
			position: absolute;
			bottom: -@spacing-small*2;
			right: 0;
			max-width: 550px;
		}

		@media @screen-large {
			width: 70%;
			bottom: -130px;
			right: @spacing-default*1.5;
		}
	}
}