.parallax-layer-back,
.parallax-layer-front {
	position: absolute;
	transform: translateZ(0);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	will-change: transform;
}

.parallax-layer-back {
	z-index: -1;
}
