@import (less) './variables';

.btn {
    display: inline-block;
    color: @text-color;
    background-color: @gray-light;
    text-decoration: none;
    padding: @spacing-default @spacing-double;
    border-radius: 0;
}
