@primary-color: lightcyan;

@text-color: #000;

@headerHeight: 4rem;
@containerMaxWidth: 75rem;

// Spacing
@spacing-default: 1rem;
@spacing-double: @spacing-default*2;
@spacing-half: @spacing-default/2;

// Media queries
@m: ~"only screen and (min-width: 768px)";
@s: ~"only screen and (min-width: 500px)";
