@import (reference) '../../../styles/variables';
@import (once) '../buttons';

@icon-size: 14px;

.btn-primary {
	.btn-basis;
	margin-bottom: @spacing-small;
	border: 1px solid @red;
	background-color: @red;
	color: @white;

	&:hover {
		background-color: @red-dark;
	}

	.icon svg path {
		fill: @white;
	}
}
