@import (reference) '../../styles/variables';

.home-block-item {
	display: block;
	position: relative;
	left: 35px;
	margin-bottom: 20px;
	height: 150px;
	
	@media @screen-small {
		float: left;
		margin-bottom: 160px;
		width: 100%;
		height: 300px;
		
		left: 0px;
		&:not(:last-child) {
			margin-right: @spacing-default;
		}
	}
	@media @screen-medium {
		max-width: 336px;
	}
	@media @screen-large {
		max-width: 403px;
	}
}

.home-block-item-content {
	width: 100%;
	max-width: 325px;
	height: 150px;
	float: none;
	text-align: center;
	color: @white;
	padding-left: 70px;

	& >  h3 {
		font-size: @text-medium-m;
		line-height: 26px;
		margin: 0 0 10px 0;
		
		padding: 30px  16px 0 16px;
	}

	@media @screen-small {
		max-width: 100%;
		margin-right: 0;
		position: relative;
		top: -40px;
		padding: 25px 0 40px 0;
		height: 180px;
		
		& > a {
			padding: 12px 36px;
		}

		& >  h3 {
			padding: 0;
			margin-bottom: 35px;
			font-size: @text-medium-m;
		}
	}
}

.home-block-item-blue {
	background-color: @blue;
}

.home-block-item-purple {
	background-color: @purple;
}

.home-block-item-green {
	background-color: @green;
}

.home-block-item-shape {
	position: absolute;
	top: 30px;
	left: -25px;
	height: 80px;
	width: 80px;

	@media @screen-small {
		position: relative;
		width: 165px;
		height: 165px;
		top: -40px;
		margin: 0 auto;
	}
}

.home-block-item-button {
	margin-bottom: 40px;
}