@import (reference) '../../../styles/variables';

.shape-circle {
	transform: scale(1.33);
	transform-origin: center 20%;
}

.shape-circle-bg {
	fill: @purple;
}

.shape-circle-front {
	fill: @green;
}
