@import '../../styles/container';

.approach {
    .text {
        .container;
        text-align: center;
    }

    .image {
        display: block;
        width: 100%;
        max-width: @containerMaxWidth;
        height: auto;
        margin: 0 auto;
    }
}
