@import (reference) '../../styles/variables';

.fifty-fifty {
	position: relative;
}

.fifty-fifty.container {
	margin: 0 auto @spacing-large*2 auto;
}

.fifty-fifty .container-inner {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media @screen-medium {
		flex-direction: row;
		padding: @spacing-large 0 @spacing-large*2 0;
		margin: 0 auto 0 auto;
    }
}

.fifty-fifty-content,
.fifty-fifty-image {
    display: inline-block;
    width: 100%;
    vertical-align: top;

    @media @screen-medium {
        width: 50%;
    }
}

.fifty-fifty-title,
.fifty-fifty-text {
	@media @screen-medium {
		float: right;
		max-width: 450px;
	}

	.fifty-fifty-text-small & {
		@media @screen-medium {
			margin-right: @spacing-large*2;
		}
	}
}

h2.fifty-fifty-title {
	margin-bottom: @spacing-default;
	font-size: @heading-s;
	font-weight: @font-weight-bold;
	color: @darker-gray;
	line-height: @line-height-heading-s;

	@media @screen-medium {
		margin-bottom: @spacing-small;
		line-height: @line-height-heading-m;
		font-size: @heading-m;
	}
	@media @screen-large {
		font-size: @heading-l;
		line-height: @line-height-heading-l;
	}
}

p.fifty-fifty-text  {
	color: @darker-gray;
	font-weight: @font-weight-normal;
	font-size: @body-text-s;
	line-height: @line-height-body-s;
	
	@media @screen-medium {	
		font-size: @body-text-m;
		line-height: @line-height-body-m;
	}
	@media @screen-large {
		font-size: @body-text-l;
		line-height: @line-height-body-l;
	}
}

.fifty-fifty-image {
	padding-bottom: @spacing-default*2;

	@media @screen-medium {
		padding: 0 @spacing-small;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.fifty-fifty-content-left {
	.fifty-fifty-title,
	.fifty-fifty-text {
		@media @screen-medium {
			margin-right: 0;
			float: left;
		}
	}

	.fifty-fifty-image {
		@media @screen-medium {
			order: 1;
			float: right;
		}
	}
}

.fifty-fifty-align-toside,
.fifty-fifty-align-toside > .container-inner > .fifty-fifty-image {
	padding-left: 0;

	@media @screen-medium {
		padding-right: 0;
	}
}

.fifty-fifty-align-toside > .container-inner > .fifty-fifty-content {
	padding-left: @spacing-default;
}
