.menu-social {
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
    margin: 0 0 0 auto;

	@media @screen-small {
		width: 250px;
	}
	@media @screen-large {
		margin-left: 200px;
    	margin-top: 120px;
	}
}

.menu-social a {
	color: @black;
	text-decoration: none;
	width: 35px;
	height: 35px;
	line-height: 35px;
}

.menu-social img {
	width: 100%;
	height: auto;
}
