@import (reference) '../../../styles/variables';

.btn-clean {
	display: inline-block;
	padding: 0;
	border: none;
	background-color: transparent;
	color: @white;
	font-family: @font-main;
	font-size: @body-large-s;
	font-weight: @font-weight-normal;
	line-height: @line-height-body-large-s;
	text-decoration: none;
	cursor: pointer;

	@media @screen-768 {
		font-size: @body-large-m;
		line-height: @line-height-body-large-m;
	}

	@media @screen-1170 {
		font-size: @body-large-l;
		line-height: @line-height-body-large-l;
	}

	&:disabled,
	&[disabled] {
		opacity: 0.5;
	}

	&[href]:hover, /* for links */
	&[href]:focus,
	&:enabled:hover, /* for buttons */
	&:enabled:focus {
		.btn-clean-hover;
	}

	.icon {
		display: block;
		margin-left: 18px;

		svg {
			width: 19px;
			height: 19px;
			vertical-align: middle;
		}

		svg path {
			transition: fill @animation-speed-fast ease;
			fill: @white;
		}
	}
}

.btn-clean-hover {
	.btn-basis-hover;

	transition: background-color @animation-speed-fast;
	background-color: transparent;
}
