@import (reference) '../../../styles/variables';

.btn-clean {
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  color: @white;
  font-family: @font-main-fallback;
  font-size: @body-text-s;
  font-weight: @font-weight-normal;
  line-height: @line-height-body-s;
  text-decoration: none;

  .fonts-loaded & {
    font-family: @font-main;
  }

  &:hover {
    background-color: transparent;
    cursor: pointer;
  }

  @media @screen-medium {
    font-size: @body-text-m;
    line-height: @line-height-body-m;
  }

  @media @screen-large {
    font-size: @body-text-l;
    line-height: @line-height-body-l;
  }

  .icon {
    margin-left: 18px;

    svg {
      width: 19px;
      height: 19px;
      vertical-align: middle;
    }

    svg path {
      transition: fill @animation-speed-fast ease;
      fill: @white;
    }
  }
}

.btn-clean.btn-red {
  color: @red;

  .icon svg path {
    fill: @red;
  }
}
