@import (reference) '../../styles/variables';

.twitter-extract {
	float: right;
	width: 100%;
	margin-bottom: @spacing-default;
	text-decoration: none;
	
	@media @screen-small {
		width: 50%;
		padding-right: @spacing-default;
		
		&:nth-child(2n) {
			padding-right: 0;
		}
	}
	@media @screen-large {
		width: 50%;
	}
}

.twitter-extract-full-width {
	min-width: 100%;
	
	@media @screen-small {
		min-height: 433px;
	}
	
	@media @screen-large {
		min-height: 246px;
	}
}

.twitter-extract-text {
	background: @blue;
	padding: @spacing-small @spacing-default;
	width: 100%;
	float: left;
	color: @white;
	position: relative;
	
	& > a {
		text-decoration: none;
		color: @white;
		
		& > h4 {
			font-style: italic;
			font-size: @subtitle-small-s;
			margin-bottom: @spacing-small;
			font-weight: @font-weight-normal;
			opacity: 0.6;
		}

		& > h3 {
			margin-bottom: @spacing-default;
			line-height: 24px;
			font-weight: @font-weight-bold;
			font-size: @subtitle-large-s;
		}

		& > svg {
			width: 28px;
			height : 28px;
			position: absolute;
			right: 15px; 
			bottom: 20px;
			& > path {
				fill: @white;
			}
		}
	}

	& > span {
		font-size: 12px;
		font-weight: @font-weight-normal;
	}

	@media @screen-small {
		height: 233px;

		& > a {
			& > h4 {
				margin-bottom: @spacing-small;
				font-size: @label;
				font-style: italic;
				font-weight: @font-weight-normal;
			}
			
			& > h3 {
				margin-bottom: @spacing-small;
				line-height: @line-height-body-small;
				font-size: @body-text;
			}
		}

		& > span {
			position: absolute;
			bottom: @spacing-small;
			font-weight: @font-weight-normal;
			font-size: @body-text-s;
		}
	}

	@media @screen-large {
		width: 50%;
		height: 246px;
		padding: @spacing-default*4 @spacing-small @spacing-small @spacing-medium;
	}
}

.twitter-extract-image {
	height: 220px;
	width: 100%;
	float: left;

	@media @screen-small {
		height: 200px;		
	}
	@media @screen-large {
		height: 246px;
		width: 50%;
	}

	& > a > img {
		width: 100%;
		height: 220px;
		object-fit: cover;
	
		@media @screen-small {
			float: left;
			height: 200px;
		}

		@media @screen-large {
			height: 246px;
		}
	}
}
.twitter-extract-triangle {
	position: absolute;
    top: -15px;
    left: 16px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid @blue;

	@media @screen-large {
		top: 20px;
		left: -20px;
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid @blue;
	}
}