 @import (reference) '../../styles/variables';

.full-width-header {
	width: 100%;
	max-width: @max-width-image;
	margin: -@header-height-s auto @spacing-large*2 auto;

	@media @screen-large {
		margin-top: -@header-height;
		margin-bottom: @spacing-large*3;
	}
}

.full-width-header-image {
	background-size: cover;
	width: 100%;
	height: 282px;

	@media @screen-medium {
		height: 425px;
	}
	@media @screen-large {
		height: 500px;
	}
}

.full-width-header-inner-container {
	@media @screen-large {
		max-width: @column-large-10;
		margin-right: auto;
	}
	@media (min-width: 1440px) {
		margin-left: auto;
		position: relative;
		left: -120px;
	}
}

.full-width-header-text {
	display: flex;
	flex-direction: column;
	max-width: @column-large-10;
	margin-top: -92px;
	width: calc(~'(100vw) - 15px');
	height: auto;
	padding: @spacing-medium @spacing-default*1.5;
	min-height: 200px;
	background: @dark-blue;
	color: @white;

	@media @screen-medium {
		padding: @spacing-large @spacing-default*1.5;
	}
	@media @screen-large {
		max-width: @column-large-10;
		padding: @spacing-large @spacing-medium;
	}
	@media (min-width: 1400px) {
		flex-direction: row;
	}
}

.full-width-header-text-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: calc(@column-large-7 - 30px);
	margin: auto;
	position: relative;

	@media @screen-large {
		max-width: calc(@column-large-7);
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
	}

	@media only screen and (min-width: 1440px) {
		position: relative;
		max-width: calc(@column-large-6);
	}
}

.full-width-header-back {
	color: @white;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: @spacing-default*1.5;

	svg {
		fill: @white;
		width: 21px;
		height: 21px;
	}

	@media @screen-large {
		width: auto;
		align-items: flex-start;
	}
}

.full-width-header-subtitle {
	padding-left: @spacing-default*1.5;
	font-size: @body-text-small-l;
	line-height: @line-height-body-small-l;
	font-weight: @font-weight-bold;
}

.full-width-header-title {
	font-size: @heading-s;
	line-height: @line-height-subtitle-m;
	font-weight: @font-weight-bold;
	color: @white;
	margin-bottom: @spacing-default;

	@media @screen-medium {
		font-size: @heading-m;
		line-height: @line-height-heading-m;
	}
	@media @screen-medium {
		margin-bottom: @spacing-medium;
		font-size: @heading-l;
		line-height: @line-height-heading-l;
	}
}

.full-width-header-author {
	opacity: 0.75;
	margin-bottom: 0;
	font-size: @body-text-s;
	line-height: @line-height-body-small-l;
	font-weight: @font-weight-normal;
}

.full-width-header-back-container {
	display: flex;
	align-items: center;
	color: @white;
	text-decoration: none;

	.icon {
		animation-duration: .3s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
		animation-name: horizontal-spring-icon-from-left;
	}

	&:hover {
		.icon {
			animation-duration: .3s;
			animation-timing-function: linear;
			animation-fill-mode: forwards;
			animation-name: horizontal-spring-icon-to-left;
			animation-timing-function: ease-in-out;
		}
	}
}

@keyframes horizontal-spring-icon-to-left {
	83.25% {
		transform: translateX(-6px);
	}

	100% {
		transform: translateX(-5px);
	}
}
@keyframes horizontal-spring-icon-from-left {
	0% {
		transform: translateX(-6px);
	}
	100% {
		transform: translateX(0);
	}
}