@import (reference) '../../styles/variables';

.person {

}

.person-text {
	font-size: @body-text-small-l;
	line-height: @line-height-body-small-l;
	color: @white;
	font-weight: @font-weight-bold;
}

.person-text-title {


}

.person-text-subtitle {

}