@import (reference) '../../styles/variables';

.updates-header {
	padding: 0;
	display: flex;
	justify-content: center;
	position: relative;
	top: -@header-height-s;

	 @media @screen-medium {
		top: -@header-height;
	}
}

.updates-header-container {
	&::before {
		content: '';
		position: absolute;
		transform: rotate(-23deg) translateX(50%);
		top: -100%;
		right: 0;
		bottom: -100%;
		left: 0;
		background: @white-grey;
	}

	position: relative;
	height: 200px;
	width: 100%;
	overflow: hidden;

	@media @screen-medium {
		height: 400px;	
	}
}

.updates-header-title {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 1;
	font-size: @title-large-s;
	line-height: @line-height-heading-s;
	font-weight: @font-weight-bold;
	padding-top: @spacing-large*2;

	@media @screen-medium {
		font-size: @title-large-m;
		line-height: @line-height-heading-m;
		padding-top: @spacing-extra-large*3;
	}
	@media @screen-large {
		font-size: @title-large-l;
		line-height: @line-height-heading-l;
	}
}