@import (reference) '../../../styles/variables';

.shape-trail-double-diamond {
  transform: scale(1.33);
}

.shape-trail-double-diamond-bg {
  fill: @green;
}

.shape-trail-double-diamond-back {
  fill: @yellow;
}

.shape-trail-double-diamond-front {
  fill: @red;
}
