@import (reference) '../../../styles/variables';

.shape-double-diamond {
    transform: scale(1.33);
    transform-origin: center 20%;
}

.shape-double-diamond-bg {
    fill: @green;
}

.shape-double-diamond-back {
    fill: @yellow;
}

.shape-double-diamond-front {
    fill: @red;
}
