@import (reference) '../../../styles/variables';

.double-diamond {
    transform: scale(1.33);
    transform-origin: center 20%;
}

.double-diamond-bg {
    fill: @green;
}

.back-diamond {
    fill: @yellow;
}

.front-diamond {
    fill: @red;
}
