@import (reference) '../../styles/variables';
@import (reference) '../../styles/transition';

.update-extract-small {
	height: auto;
	margin-bottom: @spacing-large;
	overflow: hidden;
	text-decoration: none;
	display: block;
	transition: transform @transition-img-speed, box-shadow @transition-img-speed;

	&:hover {
		.shadow();
		transform: scale(1.02);
	}

	@media @screen-large {
		margin-bottom: @spacing-large*2;
	}
}

.update-extract-small-image {
	position: relative;
	width: auto;
	min-width: 100%;
	height: 194px;
	background-size: cover;
	background-position: center;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		background-color: @black;
		transition: opacity @transition-img-speed;
	}

	@media @screen-medium {
		height: 332px;
	}
}

.update-extract-small-text {
	position: relative;
	width: 100%;
	height: 119px;
	background: @black;
	padding: @spacing-small;

	@media @screen-medium {
		height: 130px;
	}
	@media @screen-large {
		padding: @spacing-medium;
		height: 152px;
	}
}

.update-extract-small-title {
	color: @white;
	font-size: @body-text-s;
	line-height: @line-height-body-small-s;
	font-weight: @font-weight-bold;
	margin-bottom: @spacing-default;
	margin-top: @spacing-default;

	@media @screen-medium {
		margin-bottom: @spacing-small;
		margin-top: 0;
	}
	@media @screen-large {
		font-size: @body-text-l;
		line-height: @line-height-body-small-l;
	}
}

.update-extract-small-subtitle {
    position: absolute;
    width: calc(~'100% - ' @spacing-default*4);
    padding: @spacing-default*1.5 0 @spacing-small 0;
	bottom: 0;

	color: @white;
	font-weight: normal;
	font-size: @body-text-small-s;
	line-height: @line-height-body-small-s;

	@media @screen-medium {
		font-size: @body-text-small-m;
		line-height: @line-height-body-small-m;
	}
	@media @screen-large {
		padding-top: @spacing-default*1.5;
		width: calc(~'100% - ' @spacing-default*6);
		font-size: @body-text-small-l;
		line-height: @line-height-body-small-l;
	}
}

.update-extract-small-type {
	position: absolute;
	top: -10px;
	left: 20px;
	padding: 0px 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: @label-s;
	line-height: @line-height-label-s;
	font-weight: @font-weight-bold;
	background: @white;
	color: @black;

	@media @screen-medium {
		left: 30px;
		top: -10px;
		padding: 0px 8px;
		letter-spacing: 3px;
		font-size: @subtitle-small-s;
	}
}
