@import (reference) '../../styles/variables';
@import (reference) '../../styles/shadows';
@import (reference) '../../styles/transition';

.office-card {
	margin: 0 0 @spacing-large 0;

	a {
		color: @darker-gray;
		text-decoration: none;
	}

	a:hover {
		color: @red;

		.office-card-image .image {
			transform: scale(@transition-img-scale);
		}
	}
}

.office-card-image {
	overflow: hidden;

	.image {
		height: 259px;
		background-size: cover;
		background-position: center;
		transition: transform @transition-img-speed;

		@media @screen-medium {
			height: 320px;
		}
		@media @screen-medium-large {
			height: 400px;
		}
		@media @screen-large {
			height: 491px;
		}
	}
}

.office-card-text {
	.shadow;
	position: relative;
	padding: @spacing-default @spacing-medium @spacing-default @spacing-default;
	margin: -82px @spacing-default*1.5 0 @spacing-default*1.5;
	background-color: @white-grey;

	h3 {
		margin-bottom: 0;
		font-size: @body-text-s;
		line-height: @line-height-body-s;
	}

	.office-card-address {
		font-size: @body-text-small-s;
		line-height: @line-height-body-small-s;

		span {
			display: block;
		}
	}

	@media @screen-medium {
		h3 {
			font-size: @body-text-m;
			line-height: @line-height-body-m;
		}

		.office-card-address {
			font-size: @body-text-small-m;
			line-height: @line-height-body-small-m;
		}
	}

	@media @screen-medium-large {
		padding: @spacing-small @spacing-large @spacing-small @spacing-small;
	}

	@media @screen-large {
		h3 {
			font-size: @body-text-l;
			line-height: @line-height-body-l;
		}

		.office-card-address {
			font-size: @body-text-small-l;
			line-height: @line-height-body-small-l;
		}
	}
}

.office-card-button {
	position: absolute;
	top: 50%;
	right: @spacing-default;
	transform: translateY(-50%);
	width: 15px;
	height: 15px;

	@media @screen-medium-large {
		right: @spacing-small;
	}

	svg {
		display: block;
		width: 100%;
		height: 100%;

		& > path {
			fill: @red;
		}
	}
}
