@import '../../styles/variables';

.floatin-triangle {
    width: 100%;
    height: auto;
}

.floatin-triangle.red path {
    fill: @red;
}

.floatin-triangle.purple path {
    fill: @purple;
}

.floatin-triangle.blue path {
    fill: @blue;
}

.floatin-triangle.yellow path {
    fill: @yellow;
}

.floatin-triangle.green path {
    fill: @green;
}

.floatin-triangle.gray path {
    fill: @gray;
}

.floatin-triangle.dark-gray path {
    fill: @dark-gray;
}
