@import (reference) '../../styles/variables';

.case-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
    text-align: center;
    min-height: 100vh;
	background-color: @black;
    background-size: cover;
    background-position: center;
	padding-top: @header-height + @header-margin-sm;
	margin-bottom: @spacing-default*5;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 80%;
		background: linear-gradient(0deg, fade(@black, 50%), fade(@black, 0%));
	}

	@media @screen-medium {
		padding-top: @header-height + @header-margin-lg;
		margin-bottom: @spacing-default*9;

		&::after {
			display: none;
		}

		&.show-video::after {
			display: block;
		}
	}
}

.case-header-inner {
    margin-bottom: 0;
	z-index: 1;
	padding-bottom: @spacing-medium*2;
}

.case-header-video {
	display: none;
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity .3s;

	.show-video & {
		opacity: 1;
	}

	@media @screen-medium {
		display: block;
	}
}

.case-header-title {
    color: @white;
    font-weight: @font-weight-bold-extra;
    font-size: @title-giant-s;
    line-height: @line-height-giant-s;

    @media @screen-medium {
        font-size: @title-giant-m;
        line-height: @line-height-giant-m;
    }

    @media @screen-large {
        margin-bottom: @spacing-medium;
        font-size: @title-giant-l;
        line-height: @line-height-giant-l;
    }
}

.case-header-subtitle {
    color: @white;
    max-width: 800px;
    margin: 0 auto @spacing-small;
	font-size: @subtitle-large-s;
	font-weight: @font-weight-light;
	line-height: @line-height-subtitle-s;

    @media @screen-medium {
        font-size: @subtitle-large-m;
		line-height: @line-height-subtitle-m;
		margin-bottom: @spacing-default;
    }

    @media @screen-large {
        margin-bottom: @spacing-default*5;
        font-size: @subtitle-large-l;
        line-height: @line-height-subtitle-l;
    }
}

.case-header-button {
	background: none;
	border: none;
	padding: @spacing-small @spacing-default*5;

	&:hover {
		cursor: pointer;
	}

	svg {
		display: block;
		margin: 0 auto;
		width: 40px;

		@media @screen-small {
			width: 45px;
		}

		path {
			fill: @white;
		}
	}
}
