.rich-body-text {
	max-width: @column-large-7;
	margin: 0 auto @spacing-default*4 auto;
	padding: 0 @spacing-default*1.5 0 @spacing-default*1.5;

	&.text-center > * {
		text-align: center;
	}

	@media @screen-768 {
		margin-bottom: @spacing-default*8;
	}

	a {
		&,
		&:visited {
			color: @red;
			text-decoration: none;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	h2 {
		color: @darker-gray;
		font-size: @heading-small-s;
		font-weight: @font-weight-bold;
		line-height: @line-height-header-small-s;

		@media @screen-768 {
			font-size: @heading-small-m;
			line-height: @line-height-header-small-m;
		}

		@media @screen-1170 {
			padding-left: 0;
			font-size: @heading-small-l;
			line-height: @line-height-header-small-l;
		}
	}

	ul {
		padding-left: @spacing-default*3.5;
		list-style: none;

		@media @screen-1170 {
			margin-bottom: @spacing-default*8;
		}
	}

	ul li {
		position: relative;
		margin-bottom: @spacing-default*2;
		font-size: @body-text-s;
		font-weight: @font-weight-normal;
		line-height: @line-height-body-s;

		&::before {
			content: '';
			display: inline-block;
			position: absolute;
			left: -@spacing-default*3.5;
			width: 18px;
			height: 18px;
			margin-top: 6px;
			background-image: url('/static/svg/triangle-dark-blue.svg');
		}

		@media @screen-768 {
			font-size: @body-text-m;
			line-height: @line-height-body-m;
		}

		@media @screen-1170 {
			font-size: @body-text-l;
			line-height: @line-height-body-l;

			&::before {
				top: 0;
			}
		}
	}

	p {
		color: @darker-gray;
		font-size: @body-text-s;
		font-weight: @font-weight-normal;
		line-height: @line-height-body-s;
		text-align: left;

		@media @screen-768 {
			font-size: @body-text-m;
			line-height: @line-height-body-m;
		}

		@media @screen-1170 {
			padding-left: 0;
			font-size: @body-text-l;
			line-height: @line-height-body-l;
		}
	}
}
