.rich-body-text {
	max-width: @column-large-7;
	margin: 0 auto @spacing-default*4 auto;
	padding: 0 @spacing-default*1.5 0 @spacing-default*1.5;

	&.text-center > * {
		text-align: center;
	}

	@media @screen-768 {
		margin-bottom: @spacing-default*8;
	}

	a {
		&,
		&:visited {
			color: @red;
			text-decoration: none;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		color: @darker-gray;

		@media @screen-1170 {
			padding-left: 0;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: @font-weight-bold;
	}

	h1 {
		font-size: 28px;
		line-height: 35px;

		@media @screen-768 {
			font-size: 49px;
			line-height: 55px;
		}

		@media @screen-1170 {
			font-size: 50px;
			line-height: 58px;
		}
	}

	h2 {
		font-size: 25px;
		line-height: 32px;

		@media @screen-768 {
			font-size: 41px;
			line-height: 45px;
		}

		@media @screen-1170 {
			font-size: 44px;
			line-height: 52px;
		}
	}

	h3 {
		font-size: 21px;
		line-height: 25px;

		@media @screen-768 {
			font-size: 27px;
			line-height: 32px;
		}

		@media @screen-1170 {
			font-size: 32px;
			line-height: 40px;
		}
	}

	h4 {
		font-size: 19px;
		line-height: 28px;

		@media @screen-768 {
			font-size: 22px;
			line-height: 30px;
		}

		@media @screen-1170 {
			font-size: 24px;
			line-height: 32px;
		}
	}

	h5 {
		font-size: 16px;
		line-height: 24px;

		@media @screen-768 {
			font-size: 18px;
			line-height: 27px;
		}

		@media @screen-1170 {
			font-size: 20px;
			line-height: 28px;
		}
	}

	h6 {
		font-size: 14px;
		line-height: 22px;

		@media @screen-768 {
			font-size: 15px;
			line-height: 24px;
		}

		@media @screen-1170 {
			font-size: 16px;
			line-height: 24px;
		}
	}

	p {
		font-size: 16px;
		font-weight: @font-weight-normal;
		line-height: 24px;
		text-align: left;

		@media @screen-768 {
			font-size: 18px;
			line-height: 27px;
		}

		@media @screen-1170 {
			font-size: 20px;
			line-height: 28px;
		}
	}

	ul {
		padding-left: @spacing-default*3.5;
		list-style: none;

		@media @screen-1170 {
			margin-bottom: @spacing-default*8;
		}
	}

	ul li {
		position: relative;
		margin-bottom: @spacing-default*2;
		font-size: @body-text-s;
		font-weight: @font-weight-normal;
		line-height: @line-height-body-s;

		&::before {
			content: '';
			display: inline-block;
			position: absolute;
			left: -@spacing-default*3.5;
			width: 18px;
			height: 18px;
			margin-top: 6px;
			background-image: url('/static/svg/triangle-dark-blue.svg');
		}

		@media @screen-768 {
			font-size: @body-text-m;
			line-height: @line-height-body-m;
		}

		@media @screen-1170 {
			font-size: @body-text-l;
			line-height: @line-height-body-l;

			&::before {
				top: 0;
			}
		}
	}
}
