.team-member {
    position: relative;
    margin-bottom: @spacing-small;
    padding-bottom: 60%;
    height: 0;
    background-size: cover;
    background-position: center;
    font-size: @body-text-s;
    line-height: @line-height-body-s;
    color: @white;
    transition: transform @transition-img-speed;

    &:hover {
        transform: scale(1.1);

        .team-member-overlay {
            background-color: rgba(11, 110, 152, 0.7);
        }

        .team-member-name {
            top: 0;
            bottom: auto;
        }

        .team-member-role {
            display: block;
        }

        .team-member-social {
            display: block;
        }
    }

    @media @screen-small {
        padding-bottom: 40%;
    }

    @media @screen-medium {
        padding-bottom: 30%;
        font-size: @body-text-m;
        line-height: @line-height-body-m;
    }

    @media @screen-medium-large {
        margin-bottom: @spacing-large;
        padding-bottom: 23%;

        &:hover {
            transform: scale(1.15);
        }
    }

    @media @screen-large {
        font-size: @body-text-l;
        line-height: @line-height-body-l;
    }
}

.team-member-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 10%);
    transition: background-color @transition-img-speed;
}

.team-member-name {
    position: absolute;
    margin-bottom: 0;
    padding: @spacing-default*1.5;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: @text-medium-s;
    line-height: @line-height-body-s;

    @media @screen-medium {
        font-size: @text-medium-m;
        line-height: @line-height-body-m;
    }

    @media @screen-large {
        font-size: @text-medium-l;
        line-height: @line-height-body-l;
    }
}

.team-member-role {
    display: none;
    position: absolute;
    padding: @spacing-default*1.5;
    bottom: @spacing-default*7;
    width: 100%;
    text-align: center;
}

.team-member-social {
    display: none;
    position: absolute;
    padding: @spacing-small;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    transition: opacity @transition-img-speed;
}

.team-member-button {
    display: inline-block;
    margin: 0 @spacing-default;
    width: 50px;
    height: 50px;
    vertical-align: bottom;
    background-color: @white;
    border-radius: 50%;
}

.team-member-button--linkedin svg {
    margin: 25% 0 0 5%;
    width: 50%;
    height: auto;
}

.team-member-button--twitter svg {
    margin: 20% 0 0 5%;
    width: 65%;
    height: auto;
}