.team-member {
	position: relative;
	height: 0;
	padding-bottom: 125%;
	transition: transform @animation-speed;
	background-position: center;
	background-size: cover;
	color: @white;
	font-size: @body-large-s;
	line-height: @line-height-body-large-s;

	&:hover {
		transform: scale(1.1);

		.team-member-overlay {
			background-color: rgba(11, 110, 152, 0.7);
		}

		.team-member-name {
			top: 0;
			bottom: auto;
		}

		.team-member-roles {
			display: block;
		}

		.team-member-social {
			display: block;
		}
	}

	@media @screen-500 {
		padding-bottom: 130%;
	}

	@media @screen-768 {
		padding-bottom: 134%;
		font-size: @body-large-m;
		line-height: @line-height-body-large-m;
	}

	@media @screen-1024 {
		padding-bottom: 136%;

		&:hover {
			transform: scale(1.15);
		}
	}

	@media @screen-1170 {
		font-size: @body-large-l;
		line-height: @line-height-body-large-l;
	}
}

.team-member-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color @animation-speed;
	background-color: rgba(0, 0, 0, 10%);
}

.team-member-name {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	padding: @spacing-default*1.5;
	font-size: @body-large-s;
	line-height: @line-height-body-large-s;
	text-align: center;

	@media @screen-768 {
		font-size: @body-large-m;
		line-height: @line-height-body-large-m;
	}

	@media @screen-1170 {
		font-size: @body-large-l;
		line-height: @line-height-body-large-l;
	}
}

.team-member-roles {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: @spacing-default*1.5;
	text-align: center;
}

.team-member-role {
	display: block;
	margin: 0;
	padding: 0;
	font-size: @subtitle-small-s;
	line-height: @line-height-body-small-s;

	@media (min-width: 400px) {
		font-size: @body-large-s;
		line-height: @line-height-body-large-s;
	}
}

.team-member-role:not(:last-of-type)::after {
	content: '&';
	margin-right: @spacing-default*0.5;
	margin-left: @spacing-default*0.5;
}
