@import '../../styles/container';
@import '../../styles/button';

.intro {
    text-align: center;

    .button{
        .btn;
        width: 100%;
        text-align: center;

        @media @screen-medium {
            width: auto;
        }
    }
}
