@import '../../styles/container';
@import '../../styles/button';

.intro {
    .container;

    text-align: center;

    .button{
        .btn;

        width: 100%;
        text-align: center;

        @media @m {
            width: auto;
        }
    }
}
