@import '../../../styles/variables';

.simple-header {
    padding: 50px 20px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid @gray;
}

.simple-header svg {
    height: 20px;
}

.simple-header p {
    color: @gray;
    margin: 0;
    font-weight: 500;
    float: right;
}
