@import (reference) '../../styles/variables';

.home-intro {
	position: relative;
}

.home-intro-inner {
	width: 100%;
	max-width: @column-small-4;
	height: 440px;
	margin: 100px auto;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
	position: relative;

	@media @screen-small {
		max-width: 100%;
	}

	@media @screen-medium {
		height: 660px;
	}

	@media @screen-large {
		max-width: @column-large-10;
		margin: @spacing-default*11 auto @spacing-large*2 auto;
	}

	& > svg {
		margin: 0 auto;
		width: 45px;
		fill: @white;
	}
}

.home-intro-heading {
	max-width: @column-small-4;
	margin: 0 auto @spacing-large auto;
	padding: 0 @spacing-default;
	font-size: @title-large-s;
	line-height: 34px;
	text-align: center;
	color: @white;
	font-weight: @font-weight-bold;

	@media @screen-medium {
		max-width: @column-large-8;
		font-size: @title-large-l;
		line-height: @line-height-title;
	}
}

.home-intro .btn-tertiary {
	margin-bottom: @spacing-large;

	@media @screen-medium {
		margin-bottom: @spacing-extra-large;
	}
	@media @screen-large {
		font-size: @body-text;
		line-height: @line-height-body;
		padding: 0;
	}
}

.home-intro-icon-container {
	width: 45px;
	margin: 0 auto @spacing-extra-large auto;
}
