.home-intro-shapes {
  // yellow 1
  .shape-triangle-1 {
    position: absolute;
    max-width: 100%;
    width: auto;
    height: 22px;
    left: 5%;
    top: 35%;
    @media @screen-medium {
      height: 43px;
      left: 12%;
      top: 23%;
    }
    @media @screen-1440 {
      height: 55px;
      left: 25%;
      top: 36%;
    }
  }

  // yellow 2
  .shape-triangle-2 {
    position: absolute;
    max-width: 100%;
    width: auto;
    height: 44px;
    top: 95%;
    left: 70%;
    @media @screen-medium {
      height: 51px;
    }
    @media @screen-1440 {
      height: 82px;
      top: 93%;
      left: 68%;
    }
  }

  // green
  .shape-triangle-3 {
    position: absolute;
    max-width: 100%;
    width: auto;
    height: 82px;
    left: -40px;
    top: 100px;
    @media @screen-medium {
      height: 120px;
    }
    @media @screen-1440 {
      height: 165px;
      left: 40px;
      top: 191px;
    }
  }

  // purple
  .shape-triangle-4 {
    position: absolute;
    max-width: 100%;
    width: auto;
    height: 65px;
    right: 20%;
    top: -15px;
    @media @screen-medium {
      height: 99px;
      top: -24px;
    }
    @media @screen-1440 {
      height: 153px;
      right: 25%;
      top: -36px;
    }
  }

  // red
  .shape-triangle-5 {
    position: absolute;
    max-width: 100%;
    width: auto;
    height: 146px;
    right: -76px;
    top: 37%;
    @media @screen-medium {
      height: 174px;
      right: -78px;
      top: 34%;
    }
    @media @screen-1440 {
      height: 204px;
      right: 56px;
      top: 42%;
    }
  }

  // blue
  .shape-triangle-6 {
    position: absolute;
    max-width: 100%;
    width: auto;
    height: 65px;
    left: 5%;
    bottom: 5%;
    @media @screen-medium {
      height: 82px;
    }
    @media @screen-1440 {
      height: 133px;
      left: 11%;
      bottom: 7%;
    }
  }

  // yellow
  .shape-diamond-1 {
    display: none;

    @media @screen-medium {
      position: absolute;
      display: block;
      width: auto;
      height: 25px;
      right: 18%;
      bottom: 40%;
    }
    @media @screen-1440 {
      right: 27%;
      bottom: 22%;
    }
  }

  // green
  .shape-circle-1 {
    display: none;

    @media @screen-medium {
      display: block;
      position: absolute;
      width: auto;
      height: 16px;
      left: 20%;
      bottom: 15%;
    }
    @media @screen-1440 {
      left: 25%;
      bottom: 19%;
    }
  }
}
