@import (reference) '../../styles/variables';

.home-intro {
	position: relative;
}

.home-intro-inner {
	width: 100%;
	max-width: @column-small-4;
	height: 440px;
	margin: 100px auto;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;

	@media @screen-small {
		max-width: 100%;
	}

	@media @screen-medium {
		height: 660px;
	}

	@media @screen-large {
		max-width: @column-large-10;
		margin: 120px auto 160px auto;
	}

	& > svg {
		margin: 0 auto;
		width: 45px;
		fill: @white;
	}
}

.home-intro-heading {
	max-width: @column-small-4;
	margin: 0 auto;
	padding: @spacing-default;
	font-size: @title-large-s;
	line-height: 34px;
	text-align: center;
	color: @white;
	font-weight: @font-weight-bold;

	@media @screen-small {
		margin-top: @spacing-double;
	}

	@media @screen-medium {
		max-width: @column-large-8;
		font-size: @title-large-l;
		line-height: @title-line-height;
	}

	@media @screen-large {
		margin-top: 0px;
	}
}

.home-intro-subheading {
	padding: 0 @spacing-default;
	font-size: @text-medium-s;
	text-align: center;
	font-weight: @font-weight-light-extra;
	color: @white;
	margin-bottom: 5px;

	@media @screen-small {
		font-size: @title-small-s;
	}
	@media @screen-large {
		font-size: @body-text;
	}
}

.home-intro-icon-container {
	width: 45px;
	margin: 0 auto 60px auto;
}
