@import (reference) '../../styles/variables';

.social-share {
	display:flex;
	width: 100%;
	justify-content: center;
	margin-bottom: @spacing-large;
	z-index: 1;

	@media @screen-medium {
		flex-direction: column;
		align-items: center;
		position: fixed;
		width: 56px;
		height: 150px;
		padding: @spacing-default;
		background: @white;
		right: 0;
		top: 240px;

		box-shadow: 0px 10px 100px 0px fade(@black, 15%);
	}
}

.social-share-item {
	margin-right: @spacing-default;

	&:last-child {
		margin-right: 0;
	}

	svg {
		width: 56px;
		height: 56px;
	}

	@media @screen-medium {
		margin-right: 0;

		svg {
			width: 42px;
			height: 42px;
		}
	}
}
