.services-overview .section-header {
	margin-bottom: 88px;
}

.services-overview ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.services-overview li.services-item:nth-of-type(1) {
	background: @blue;
}
.services-overview li.services-item:nth-of-type(2) {
	background: @red;
}
.services-overview li.services-item:nth-of-type(3) {
	background: @purple;
}
.services-overview li.services-item:nth-of-type(4) {
	background: @green;
}
