.services-overview-circle-1 {
	position: absolute;
	top: 30px;
	left: 25%;
	width: auto;
	height: 20px;
}

.services-overview-triangle-1 {
	position: absolute;
	top: 100px;
	left: -10%;
	width: auto;
	height: 233px;
}
