@import (reference) '../../styles/variables';

.services-overview-shapes {
  .shape-circle-1 {
    position: absolute;
    top: 30px;
    left: 0%;
    width: auto;
    max-width: 100%;
    height: 20px;

    @media @screen-768 {
      left: 25%;
    }
  }

  .shape-diamond-1 {
    position: absolute;
    left: 90%;
    width: auto;
    max-width: 100%;
    height: 20px;

    @media @screen-768 {
      display: none;
    }
  }

  .shape-triangle-1 {
    display: none;

    @media @screen-768 {
      display: inline-block;
      position: absolute;
      top: 100px;
      left: -10%;
      width: auto;
      max-width: 100%;
      height: 115px;
    }
  }
}
