@import (reference) '../../styles/variables.less';

.services-overview {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: @spacing-default*5;
  padding-bottom: @spacing-default*6;

  @media @screen-1170 {
    margin: 0 auto;
    padding-bottom: @spacing-default*14;
  }

  .container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media @screen-768 {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
}

.services-overview__header {
  position: relative;
  width: 100%;
  margin-bottom: @spacing-default*4;
  color: @black;
  font-size: @heading-s;
  font-weight: @font-weight-bold;
  line-height: @line-height-subtitle-m;
  text-align: center;

  @media @screen-768 {
    font-size: @heading-m;
    line-height: @line-height-heading-m;
  }

  @media @screen-1170 {
    font-size: @heading-l;
    line-height: @line-height-heading-l;
  }
}
