@import (reference) '../../styles/variables';

.style-guide-title {
	color: @red;
	font-size: 24px;
	font-weight: 700;
	font-style: italic;
	line-height: 1.08
}

.style-guide-sub-title {
	color: @gray;
	font-size: 15px;
	font-weight: 600;
	margin: 0;
}

.style-guide-section {
	background-color: @light-gray;
	padding: 83px 0;
	margin-bottom: @spacing-double;

	@media @screen-small {
		margin-bottom: @spacing-container;
	}

	.container {
		margin-bottom: 0;
	}
}
