@import (reference) '../../styles/variables';
@import (once) '../style-guide/shadow-showcase/shadow-showcase';
@import (once) '../style-guide/button-showcase/button-showcase';
@import (once) '../style-guide/color-showcase/color-showcase';
@import (once) '../style-guide/graphic-elements-showcase/graphic-elements-showcase';
@import (once) '../style-guide/style-guide-header/style-guide-header';
@import (once) '../style-guide/piramide-triangle/piramide-triangle';

.style-guide-title {
	color: @red;
	font-size: 24px;
	font-weight: @font-weight-bold;
	font-style: italic;
	line-height: 1.08
}

.style-guide-sub-title {
	color: @gray;
	font-size: 15px;
	font-weight: @font-weight-normal;
	margin: 0;
}

.style-guide-section {
	background-color: @light-gray;
	padding: 83px 0;
	margin-bottom: @spacing-small;

	@media @screen-small {
		margin-bottom: @spacing-container;
	}

	.container {
		margin-bottom: 0;
	}
}

.style-guide-column-two div {
	width: 80%;
	display: block;
	vertical-align: top;
	margin: 0 auto 20px;

	@media @screen-medium {
		width: 50%;
		display: inline-block;
		margin-bottom: 0;
	}
}

.style-guide-column-three div {
	width: 100%;
	display: inline-block;
	vertical-align: top;

	@media @screen-medium {
		width: 33.333%;
	}
}

.style-guide-column-three .two-thirds {
	@media @screen-medium {
		width: 66.666%;
	}
}

