@import (reference) '../../styles/variables';
@import (reference) '../../styles/helpers';

.updates-overview {
	.clearfix;

	.updates-extract {
		width: 100%;
	}
	@media @screen-medium {
		.updates-extract {
			float: left;
			width: calc(~"50% - 20px");
		}
		.updates-extract:nth-child(2n) {
			margin-left: @spacing-medium;
		}
	}
	@media @screen-medium-large {
		.updates-extract {
			float: left;
			width: calc(~"(100%/3) - 30px");
		}

		.updates-extract:nth-child(2n) {
			margin-left: 0;
		}
		
		.updates-extract:nth-child(3n+2) {
			margin-left: @spacing-large;
			margin-right: @spacing-large;
		}
	}
}
