.notification-bar {
  font-size: @body-text-m;
  padding: @spacing-default;
  width: 100%;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 10000;
  transition: all .3s ease;
  margin-bottom: @spacing-default*5;

  @media @screen-medium {
		margin-bottom: @spacing-default*14;
	}

  .text {
    line-height: 1.4;
  }

  .call-to-action {
    text-decoration: none;
    color: @red;

    .icon svg {
      width: 20px;
      height: 16px;
      path {
        fill: @red;
      }
    }

    .icon-small svg {
      top: 3px;
    }
  }
}
