.shape-triangle.red path {
	fill: @red;
}

.shape-triangle.purple path {
	fill: @purple;
}

.shape-triangle.blue path {
	fill: @blue;
}

.shape-triangle.yellow path {
	fill: @yellow;
}

.shape-triangle.green path {
	fill: @green;
}

.shape-triangle.gray path {
	fill: @gray;
}

.shape-triangle.dark-gray path {
	fill: @darker-gray;
}

.shape-triangle.dark-blue path {
	fill: @dark-blue;
}

.shape-triangle.white path {
	fill: @white;
}
