@import (reference) '../../../styles/variables';

.shape-triangle {
    transform: scale(1.33);
    transform-origin: center 20%;
}

.shape-triangle-bg {
    fill: @yellow;
}

.shape-triangle-front {
    fill: @purple;
}
