.shape-triangle.red path {
	fill: @red;
}

.shape-triangle.purple path {
	fill: @purple;
}

.shape-triangle.blue path {
	fill: @blue;
}

.shape-triangle.yellow path {
	fill: @yellow;
}

.shape-triangle.green path {
	fill: @green;
}

.shape-triangle.gray path {
	fill: @gray;
}

.shape-triangle.dark-gray path {
	fill: @darker-gray;
}

.shape-triangle.white path {
	fill: @white;
}

.triangle-fixed {
	position: fixed;
	z-index: 2;
	right: 15px;
	top: 10px;
	width: 50px;
	height: 50px;
	fill: @white;

	@media @screen-large {
		right: 30px;
		top: 20px;
		width: 80px;
		height: 80px;	
	}

	@media only screen and (min-width: @container-max-width) {
		right: calc(~"(100vw - @{column-large-12} + 100px) / 2");
	}
}