@import (reference) '../../styles/variables';

.case-extract-inner {
	padding: 0;
	position: relative;
	height: 545px;
	margin: auto;
	@media @screen-medium {
		max-width: @column-large-10;
		height: 720px;
	}
	@media @screen-large {
		height: 100%;
		padding-top: @spacing-extra-large;
	}
}

.case-extract-image-container {
	background-size: cover;
	background-position: 50% 50%;
	height: 220px;
	margin-bottom: 40px;
	@media @screen-medium {
		height: 440px;
	}

	@media @screen-large {
		margin-left: auto;
		height: 600px;
		margin-bottom: @spacing-large;
		max-width: @column-large-9;
	}
}

.case-extract-text-container {
	position: relative;
	top: -89px;
	text-decoration: none;
	display: inline-block;
	max-width: @column-small-4;
	background-color: @red;
	color: @white;
	padding: @spacing-medium @spacing-default  @spacing-medium  @spacing-medium;
	margin: 0 @spacing-default;

	& > h3 {
		line-height: 36px;
		line-height: @line-height-title-s;
		font-size: @title-large-s;
		font-weight: @font-weight-bold;
		margin-bottom:  @spacing-small;
	}

	& > h4 {
		line-height: @line-height-subtitle-s;
		font-size: @body-text-s;
		margin-bottom: @spacing-medium;
		font-weight: @font-weight-normal;
	}

	& > span {
		margin-bottom: @spacing-small;
		font-style: italic;
		color: @white;
		font-weight: @font-weight-normal;
		font-size:  @body-text-s;
		line-height: @line-height-body-s;
		display: block;
		opacity: 0.8;
	}

	@media @screen-medium {
		max-width: 94%;
		width: 100%;
		margin: 0 @spacing-small;
		top: -90px;
	
		& > h3 {
			line-height: @line-height-title-m;
			font-size: @title-large-m;
		}
		
		& > h4 {
			line-height: @line-height-subtitle-m;
			font-size: @body-text-m;
		}

		& > span {
			font-size:  @body-text-m;
			line-height: @line-height-body-m;
		}
	}

	@media @screen-large {
		position: absolute;
		left: 0;
		padding: 0 @spacing-default*5;
		width: 100%;
		padding-top: @spacing-extra-large;
		max-width: @column-large-4;
		top: 0;
		margin: 0;

		& > h3 {
			line-height: @line-height-title;
			font-size: @title-large-l;
			margin-bottom: @spacing-small;
		}

		& > h4 {
			line-height: @line-height-subtitle-m;
			font-size: @body-text;
			margin-bottom: @spacing-default*5;
		}

		& > span {
			margin-bottom: @spacing-medium;
			font-size: @body-text;
			line-height: @line-height-body;
		}
	}
}

.case-extract-button-container {
		margin: 0 0 0 0;

		& > .btn-tertiary .icon svg {
			margin-top: 0;
			height: 37px;
			width: 37px;
			padding: 8px;
		}

		@media @screen-large {
			margin-bottom: 60px;
			float: right;

			& > .btn-tertiary .icon svg{
				height: 50px;
				width: 50px;
				padding: 15px;
			}
		}
}

.case-extract-link-container {
	text-align: center;
}

.case-extract-link  {
	color: @red;
	text-decoration: none;
	position: relative;
	padding: 0 @spacing-small;
	line-height: @line-height-body-s;
	font-size: @body-text-s;
	font-weight: @font-weight-normal;
	display: inline-block;
	
	@media @screen-medium {
		line-height: @line-height-body-m;
		font-size: @body-text-m;
	}

	@media @screen-large {
		line-height: @line-height-body;
		font-size: @body-text;
	}
	& > span {
		float: left;
	}

	.case-extract-link-icon {
		float: left;
	    padding-left: 15px;
	}
	@media @screen-medium {
		font-size: @body-text-m;
		line-height: @line-height-body-m;
	}
	@media @screen-large {
		font-size: @body-text;
		line-height: @line-height-body;
	}
}

