@import '../../styles/variables';

.header {
	background: @primary-color;
	height: @header-height;
	text-align: center;
	margin-bottom: 100px;
}

.logo {
	display: inline-block;

	h1 {
		display: inline-block;
		margin: 0;
		line-height: @header-height;
	}
}
