@import (reference) '../../styles/variables';

.blog-feed {
	width: 100%;
	margin-right: @spacing-default;
	margin-bottom: 10px;
	background: @green;

	@media @screen-small {
		width: 50%;	
	}
}

.blog-feed-image-container {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 220px;
	
	@media @screen-small {
		width: 100%;
		height: 264px;
	}
	@media @screen-large {
		height: 390px;
	}
}

.blog-feed-text-container {
	padding: 0 @spacing-default;
	color: @white;
	text-align: left;
	height: 100%;

	& > h3 {
		margin: 20px 0;
		font-size: @title-small-s;
		color: @dark-gray;
		font-weight: normal;
		font-style: italic;
	}

	& > h2 {
		margin: 20px 0;
		line-height: 24px;
		font-size: @subtitle-large-s;
	}

	@media @screen-large {
		padding: 0 @spacing-double;

		& > h3 {
			margin: 40px 0;
			font-size: @title-small-s;
		}
		& > h2 {
			margin: 40px 0;
			line-height: 44px;
			font-size: @text-medium-l;
		}
	}
}
.blog-feed-footer-container {
	text-align: left;
	width: 100%;
	height: 75px;
	
	& > button {
		float: right;
	}

	& > .btn-tertiary .icon svg{
		margin-top: 0;
		padding: 7px;
		height: 28px;
		width: 28px;
	}

	& > span {
		float:left;
		margin-bottom: 20px;
		font-weight: normal;
		font-size: 12px;
		display: block;
	}

	@media @screen-large {		
		& > span {
			margin-bottom: 25px;
			font-weight: normal;
			font-size: @text-medium-s;
			display: block;
		}
	}
}