@import (reference) '../../styles/variables';

.image-composition-shapes-1 {
	.shape-triangle-1 {
		position: absolute;
		z-index: 1;
		top: -265px;
		left: 12%;
		height: 168px;
    	width: 148px;
	}
	.shape-triangle-2 {
		position: absolute;
		z-index: 1;
		bottom: -150px;
		right: 0px;
		height: 93px;
		width: 106px;
	}
}

.image-composition-shapes-2 {
	.shape-triangle-3 {
		position: absolute;
		z-index: 1;
		top: 70px;
		left: 70px;
		height: 12px;
		width: 12px;
		& > ellipse {stroke-width:4px;}
	}
	.shape-triangle-4 {
		position: absolute;
		z-index: 1;
		top: 0px;
		left: 25%;
		height: 16px;
		width: 16px;
		& > ellipse {stroke-width:4px;}
	}	
	.shape-triangle-5 {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 20%;
		height: 25px;
    	width: 25px;
	}
}