@import (reference) '../../styles/variables';

.image-composition-shapes-1 {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 12%;

	svg.shape-triangle-1 {
		height: 168px;
    	width: 148px;
	}
}

.image-composition-shapes-2 {
	position: absolute;
	z-index: 1;
	bottom: 150px;
	right: 100px;

	svg.shape-triangle-2 {
		height: 93px;
    	width: 106px;
	}
}

.image-composition-shapes-3 {
	position: absolute;
	z-index: 1;
	top: 70px;
	left: 70px;

	svg.shape-triangle-3 {
		height: 12px;
    	width: 12px;
	}
}

.image-composition-shapes-4 {
	position: absolute;
	z-index: 1;
	top: -57px;
	left: 25%;

	svg.shape-triangle-4 {
		height: 16px;
    	width: 16px;
	}
}

.image-composition-shapes-5 {
	position: absolute;
	z-index: 1;
	top: -38px;
	right: 20%;

	svg.shape-triangle-5 {
		height: 25px;
    	width: 25px;
	}
}