@import (reference) '../../styles/variables';
@import (reference) '../../styles/helpers';

.footer {
	background: @black;
	margin: 0;
	padding: @spacing-default*5 0 0 0;
	color: @white;

	@media @screen-medium {
		padding: @spacing-default*9 0 0;
	}
}

.footer.is-fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	display: flex;
	align-items: flex-end;
}

.footer .container-inner {
	padding: 0 1rem;
}

.footer-main-content {
	@media @screen-medium {
		display: flex;
	}
}

.footer .header-logo {
	margin-bottom: @spacing-medium;
	display: block;
	@media @screen-medium {
		margin-bottom: 65px;
	}
}

.footer-left {
	@media @screen-medium {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}
}

.footer-right {
	@media @screen-medium {

		display: inline-flex;
		vertical-align: top;
		width: 30%;
		min-width: 300px;
		max-width: 370px;
		margin-left: auto;
		flex-direction: column;
		justify-content: space-between;
	}
}

.footer-links {
	@media @screen-medium {
		display: flex;
	}
}

.footer-link-list {
	.list-no-style;
	column-count: 2;
	column-fill: auto;
	height: 160px;

	@media @screen-medium {
		display: inline-block;
		vertical-align: top;
	    max-width: 400px;
		margin-bottom: 25px;
	}
}

.footer-link-list li {
	display: inline-block;
	width: 50%;
}

.footer-link-list li {
	width: 100%;
}

.footer-link-list a {
	color: @white;
	text-decoration: none;
	font-weight: @font-weight-normal;
	font-size: 18px;
	line-height: 35px;

	@media @screen-large {
		font-size: @body-text;
		line-height: 40px;
	}
}

.footer-join-link {
	font-size: @title-small-s;
	font-weight: @font-weight-bold;
	line-height: 36px;
	color: @white;
	text-decoration: none;
    display: block;
	padding: 18px 0;
    margin-bottom: @spacing-medium;
	border-top: 1px solid #717171;
	border-bottom: 1px solid #717171;

	@media @screen-medium {
	    margin-bottom: @spacing-extra-large;
	    padding: @spacing-large*2 0;
		font-size: @heading-small;
		line-height: @line-height-heading;
	}

	@media @screen-large {
		font-size: @heading-small;
		line-height: @line-height-heading;
	}
}

.footer-join-link svg {
	width: 11px;
	height: 11px;
	padding: 9px;
	border-radius: 50%;
	background: @white;
	box-sizing: content-box;
    vertical-align: text-top;
	display: inline-block;
	margin-left: 5px;

	@media @screen-medium {
		vertical-align: sub;
	}

	path {
		fill: @darker-gray;
	}
}

.footer-contact {
	font-size: @title-small-s;
	font-weight: @font-weight-bold;
	color: @white;
	line-height: 36px;
	margin-bottom: @spacing-medium;

	@media @screen-medium {
		font-size: @title-small-l;
		line-height: @line-height-footer-items;
		margin-bottom: 120px;
	}
	@media @screen-large {
		font-size: @heading-small;
		line-height: @line-height-footer-items;
	}
}

.footer-contact-tel,
.footer-contact-email {
	color: @white;
	text-decoration: none;
}


.footer .menu-social {
	width: 100%;
	max-width: 300px;
	margin: 0 auto @spacing-small 0;
	
	@media @screen-medium {
		margin: 0 auto @spacing-half 0;
	}
}

.footer-copyright {
	color: @dark-gray;
	font-size: 18px;
	font-weight: @font-weight-normal;
	padding-bottom: 15px;
	margin-bottom: 0;

	@media @screen-medium {
		padding-bottom: 0;
		display: inline-block;
	    transform: translateY(-130%);
	}
	@media @screen-large {
		line-height: @line-height-body-small;
		font-size: @body-text-s;
	}
}
