@import (reference) '../../styles/variables';

.footer {
	height: 320px;
	text-align: center;
	background: @gray;
	display: flex;
	align-items: center;
	justify-content: center;

}

.footer span {
	font-size: 24px;
	font-weight: bold;
}
