@import (reference) '../../styles/variables.less';
@import (once) '../../styles/helpers.less';

.footer {
	z-index: @layer-raised;
	margin: 0;
	padding: @spacing-default*5 0 0 0;
	background-color: @black;
	color: @white;

	@media @screen-768 {
		padding: @spacing-default*9 0 0;
	}

	&.is-fixed {
		display: flex;
		position: fixed;
		z-index: 0;
		bottom: 0;
		left: 0;
		align-items: flex-end;
		width: 100%;
	}

	.container-inner {
		padding: 0 @spacing-default*1.5;
	}
}

.footer-main-content {
	@media @screen-768 {
		display: flex;
	}
}

.footer-logo {
	display: inline-block;
	margin-bottom: @spacing-default*3;

	@media @screen-768 {
		margin-bottom: @spacing-default*6;
	}

	@media @screen-1170 {
		svg {
			width: 240px;
			height: 46px;
		}
	}
}

.footer-left {
	@media @screen-768 {
		display: inline-block;
		width: 55%;
		vertical-align: top;
	}

	@media @screen-1170 {
		width: 60%;
	}

	.mailchimp-form {
		margin-bottom: @spacing-default*3;
		padding: @spacing-default*3 0;
		transition: color @animation-speed-slow;
		border-top: 1px solid @dark-gray;
		border-bottom: 1px solid @dark-gray;

		@media @screen-768 {
			padding: @spacing-default*4 0;
		}

		@media @screen-1024 {
			padding: @spacing-default*6 0;
		}

		.form {
			align-items: flex-end;
		}

		.form-title {
			margin-top: 0;
			color: @white;
			text-align: left;
		}

		.input-field {
			flex: 1 1 auto;
			width: 100%;
			margin-bottom: 0;

			@media @screen-1024 {
				width: auto;
			}

			.input {
				background-color: fade(@white, 30%);
				border-bottom: 3px solid @darker-gray;

				&:focus {
					border-bottom: 3px solid @blue;
				}
			}
		}

		.submit-btn {
			margin: @spacing-default*2 0 0;
			padding: @spacing-default*1.5 @spacing-default*5;

			@media @screen-1024 {
				margin: 0 0 0 @spacing-default*2;
			}
		}
	}
}

.footer-right {
	@media @screen-768 {
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		width: 30%;
		min-width: 300px;
		max-width: 370px;
		margin-top: -@spacing-default;
		margin-left: auto;
		vertical-align: top;
	}
}

.footer-links {
	margin-bottom: @spacing-default*2;

	@media @screen-768 {
		display: flex;
	}
}

.footer-links-column {
	@media @screen-768 {
		flex: 1 1 calc(100% / 3)
	}
}

.footer-link-list {
	.list-no-style();

	margin-bottom: @spacing-default*2;
}

.footer-link-list-title {
	margin-bottom: calc(@spacing-default / 2);
	font-size: 17px;
	line-height: @line-height-body-large-s;
	font-weight: 500;
	color: @grey-caption;

	@media @screen-768 {
		margin-bottom: @spacing-default;
		font-size: 19px;
		line-height: @line-height-body-large-m;
	}

	@media @screen-1170 {
		margin-bottom: @spacing-default*1.5;
		font-size: 21px;
		line-height: @line-height-body-large-l;
	}
}

.footer-link-list .footer-link-list-item {
	margin-bottom: calc(@spacing-default / 2);

	@media @screen-768 {
		margin-bottom: @spacing-default;
	}

	@media @screen-1170 {
		margin-bottom: @spacing-default*1.5;
	}
}

.footer-link-list li {
	display: inline-block;
	width: 100%;
	margin-bottom: calc(@spacing-default / 2);

	@media @screen-768 {
		margin-bottom: @spacing-default*1.5;
	}

	@media @screen-1170 {
		margin-bottom: @spacing-default*2;
	}
}

.footer-link-list a {
	transition: color @animation-speed-slow;
	color: @white;
	font-size: @body-large-s;
	font-weight: @font-weight-normal;
	line-height: @line-height-body-large-s;
	text-decoration: none;

	@media @screen-768 {
		font-size: @body-large-m;
		line-height: @line-height-body-large-m;
	}

	@media @screen-1170 {
		font-size: @body-large-l;
		line-height: @line-height-body-large-l;
	}

	&:hover {
		transition: color @animation-speed-fast;
		color: @red;
	}
}

.footer-right .footer-links {
	display: initial;
}

.footer-right .footer-link-list a {
	text-decoration: underline;
}

.footer-contact {
	margin-bottom: @spacing-default*4;
	color: @white;
	font-size: @heading-small-s;
	line-height: @line-height-header-small-s;
	font-weight: bold;

	@media @screen-768 {
		margin-bottom: 0;
		font-size: @heading-small-m;
		line-height: @line-height-header-small-m;
	}

	@media @screen-1170 {
		font-size: @heading-small-l;
		line-height: @line-height-header-small-l;
	}
}

.footer-contact-tel {
	margin-bottom: @spacing-default;

	@media @screen-1170 {
		margin-bottom: @spacing-default*1.5;
	}
}

.footer-contact-tel,
.footer-contact-email {
	display: block;
	transition: color @animation-speed-slow;
	color: @white;
	text-decoration: none;

	&:hover {
		transition: color @animation-speed-fast;
		color: @red;
	}
}

.footer-address-wrapper {
	margin-bottom: @spacing-default*3;

	@media @screen-768 {
		margin-bottom: 0;
	}
}

.footer-address-tabs {
	.list-no-style();

	display: inline-flex;
}

.footer-address-tabs li:not(:last-child) {
	position: relative;
	margin-right: @spacing-default*2;
	padding-right: @spacing-default*2+2px;
}

.footer-address-tabs li:not(:last-child)::after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background: @white;
	transform: skew(-15deg);
}

.footer-right a.footer-address-tab-selected {
	font-size: @heading-small-s;
	font-weight: bold;
	text-decoration: none;

	@media @screen-768 {
		font-size: @heading-small-m;
	}

	@media @screen-1170 {
		font-size: @heading-small-l;
	}
}

.footer-address p {
	margin: 0;
	font-size: @body-small-l;

	@media @screen-768 {
		margin-bottom: .2rem;
		font-size: @body-large-s;
	}
}

.footer .menu-social {
	display: block;
	margin: 0 0 0 -5px;

	@media @screen-500 {
		margin: 0 0 -@spacing-default*2 -5px;
	}
}

.footer-copyright {
	display: inline-block;
	margin-bottom: 0;
	padding-bottom: @spacing-default;
	color: @dark-gray;
	font-size: @body-small-s;
	font-weight: @font-weight-normal;
	line-height: @line-height-body-small-s;

	@media @screen-768 {
		padding-bottom: 0;
		transform: translateY(-130%);
		font-size: @body-small-m;
		line-height: @line-height-body-small-m;
	}

	@media @screen-1170 {
		font-size: @body-small-l;
		line-height: @line-height-body-small-l;
	}

	& + .footer-copyright {
		margin-left: @spacing-default*2;
		text-decoration: none;
	}
}

a.footer-copyright {
	text-decoration: none;
}

.footer-careers {
	border-bottom: 1px solid @dark-gray;
	border-top: 1px solid @dark-gray;
	margin-bottom: @spacing-default*4;
	padding: @spacing-default*4 0;

	@media @screen-768 {
		padding: @spacing-default*6 0;
	}
}

.footer-careers__link {
	color: @white;
	font-size: @title-small-m;
	font-weight: @font-weight-bold;
	line-height: @line-height-heading-s;
	text-decoration: none;
	transition: color @animation-speed-slow;

	@media @screen-768 {
		font-size: @title-small-l;
		line-height: @line-height-heading-m;
	}

	&:hover {
		color: @red;
	}

	.icon {
		align-items: center;
		display: inline-flex;
		justify-content: center;
		vertical-align: sub;
	}

	svg {
		height: @spacing-default*3;
		width: @spacing-default*3;

		@media @screen-768 {
			height: @spacing-default*4;
			width: @spacing-default*4;
		}
	}

	path {
		fill: currentColor;
	}
}
