@import (reference) '../../../styles/variables';

.color-showcase .title {
    margin-left: 20px;
}

.color-showcase .color-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.color-showcase .color-grid .color-grid-item {
    display: inline-block;
    margin: 0 5px;
}

.color-showcase .color-name {
    display: block;
    color: @gray;
    text-align: center;
}
