.graphic-elements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.graphic-elements-container svg {
    width: 22%;
    min-width: 120px;
    height: auto;
    margin: 1.5%;
}
