@import (reference) '../../styles/variables';

.contact {
	text-align: center;
	margin-bottom: 127px;
	position: relative;
	
	@media @screen-small {
		margin-bottom: 100px;
    	padding-bottom: 87px;
	}
}

.contact h3 {
	font-size: @title-large-s;
	line-height: 38px;
	margin-bottom: 35px;
	font-weight: @font-weight-bold;
	color: @dark-gray;

	@media @screen-medium {
		font-size: @title-large-l;
		line-height: 70px;
		padding-top: 87px;
		max-width: 800px;
		margin: 0 auto 55px;
	}
}

.contact .btn-secondary {
	display: block;
	margin: 0 auto;
    max-width: 300px;
    font-weight: @font-weight-bold;
}
