.contact-shapes {
	.shape-triangle-1 {
		position: absolute;
		width: auto;
		height: 130px;
		top: -125px;
		left: 81%;
		@media @screen-medium {
			height: 250px;
			top: -200px;
		}
	}

	.shape-triangle-2 {
		position: absolute;
		width: auto;
		height: 16px;
		top: -21px;
		left: 15%;

		@media @screen-medium {
			height: 40px;
			left: 10%;
		}
	}
	.shape-triangle-3 {
		position: absolute;
		width: auto;
		height: 70px;
		bottom: -86px;
		left: -8%;

		@media @screen-medium {
			left: 0;
			height: 150px;
		}
	}
	.shape-triangle-4 {
		position: absolute;
		width: auto;
		height: 50px;
		left: 75%;
		bottom: -155px;

		@media @screen-medium {
			height: 115px;
			bottom: -175px;
		}
	}
}
