@import (reference) '../../styles/variables';

.blog-extract {
  width: 100%;
  margin-bottom: @spacing-default;
  float: left;
  text-decoration: none;

  @media @screen-small {
    width: 50%;
    padding-right: @spacing-default;
  }
}

.blog-extract-image-container {
  width: 100%;
  height: 220px;
  float: left;

  @media @screen-small {
    height: 200px;
  }

  @media @screen-large {
    width: 100%;
    height: 256px;
  }

  & > img {
    width: 100%;
    height: 220px;
    object-fit: cover;

    @media @screen-small {
      height: 200px;
      float: left;
    }

    @media @screen-large {
      height: 256px;
    }
  }
}

.blog-extract-text-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 @spacing-default*1.5 @spacing-default*1.5 @spacing-default*1.5;
  float: left;
  background: @green;
  color: @white;
  text-align: left;

  & > h3 {
    margin-bottom: @spacing-default;
    padding-top: @spacing-small;
    opacity: 0.8;
    color: @white;
    font-size: @body-text-s;
    font-style: italic;
    font-weight: @font-weight-normal;
    line-height: @line-height-body-s;
  }

  & > h2 {
    margin-bottom: @spacing-default;
    font-size: @heading-small-s;
    font-weight: @font-weight-bold;
    line-height: @line-height-header-small-s;
  }

  @media @screen-medium {
    height: 100%;
    min-height: 233px;
    padding: 0 @spacing-small;
    & > h2 {
      margin-bottom: @spacing-extra-large;
      font-size: @heading-small-m;
      line-height: @line-height-header-small-m;
    }
    & > h3 {
      font-size: @body-text-m;
      line-height: @line-height-body-m;
    }
  }

  @media @screen-large {
    height: 100%;
    min-height: 266px;
    padding: 0 @spacing-small @spacing-small @spacing-medium;

    & > h3 {
      margin-bottom: @spacing-medium;
      padding-top: @spacing-large;
      font-size: @body-text-l;
      font-style: italic;
      line-height: @line-height-body-l;
    }
    & > h2 {
      margin-bottom: @spacing-large;
      font-size: @heading-small-l;
      line-height: @line-height-header-small-l;
    }
  }
}

.blog-extract-footer-container {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  text-align: left;

  .icon {
    position: relative;
    bottom: @spacing-default;
    margin-top: 0;
    padding: 0;
    float: right;

    svg {
      width: 35px;
      height: 35px;
    }

    path {
      fill: @white;
    }
  }

  .blog-extract-footer-date {
    display: block;
    float: left;
    color: @white;
    font-size: @body-text-small-s;
    font-weight: @font-weight-normal;
    line-height: @line-height-body-small-s;
  }

  @media @screen-medium {
    position: absolute;
    bottom: @spacing-default;
    left: 0;
    padding: 0 @spacing-small;


    .blog-extract-footer-date {
      position: absolute;
      font-size: @body-text-small-m;
      line-height: @line-height-body-small-m;
    }
  }

  @media @screen-large {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    padding: 0 @spacing-medium;

    & > button {
      right: -15px;
      height: 25px;
    }
    .blog-extract-footer-date {
      display: block;
      font-size: @body-text-small-l;
      line-height: @line-height-body-small-l;
    }
    .icon {
      right: 0;
    }
  }
}

.blog-extract-triangle {
  position: absolute;
    top: -15px;
    left: 16px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid @green;

  @media @screen-large {
    top: -30px;
    left: 30px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid @green;
  }
}
