@import '../../styles/forms';

.label {
  display: block;
  font-size: @heading-small-s;
  font-weight: @font-weight-bold;
  margin-bottom: @spacing-default;

  @media @screen-medium {
    display: inline-block;
  }
}

.input-field {
  width: 100%;
  margin-bottom: @spacing-small;
  
  @media @screen-medium {
    width: calc(50% - 15px);
    display: inline-block;
  }
}

.input {
  background-color: @white-grey;
  width: 100%;
  border: none;
  box-shadow: none;
  height: 58px;
  font-size: @body-text-s;
  padding: 0 @spacing-small;
  border-bottom: 3px solid #e0e0e0;

  &:focus {
    outline: none;
    border-bottom: 3px solid @blue;
  }

  &.should-validate:invalid {
    border-bottom: 3px solid @red;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px @white-grey inset;
}

textarea {
  resize: none;
}

.textarea {
  min-height: 260px;
  padding: @spacing-small @spacing-small;
  display: block;
}

.message-input {
  @media @screen-medium {
    flex-grow: 1;
  }
}

.optional-input-fields {
  width: 100%;

  @media @screen-medium {
    display: flex;
    justify-content: space-between;
  }
}