@import (reference) '../../styles/variables';

.quote-block {
	.shadow;
    background-color: @blue;
    color: @white;
    padding: @spacing-default*4 @spacing-default @spacing-default*4 @spacing-small;
	//todo: set this in variable with fallback font
    font-family: 'playfair';
    font-weight: @font-weight-normal;
    font-size: @subtitle-large-s;
    line-height: 35px;
    margin: 0 0 @spacing-default*5 @spacing-default*1.5;

    @media @screen-small {
        margin-left: 10%;
        margin-bottom: @spacing-default*9;
    }

    @media @screen-medium {
        margin-left: 20%;
        padding: @spacing-default*9 @spacing-default*7;
        font-size: @subtitle-large-m;
        line-height: @line-height-quote;
    }
    
    @media @screen-medium-large {
        margin-bottom: @spacing-small*5;
    }
    @media @screen-large {
        padding: @spacing-default*10 @spacing-default*11;
        // Align the content with the container-inner + 50px for extra spacing just after the @screen-large mark
        margin-left:   calc(~'(100vw - @{container-inner-max-width}) / 2 + 200px');
        font-size: @quote-large-l;
        line-height: @line-height-quote;
    }
}

.quote-block.blue {
    background-color: @blue;
}

.quote-block.red {
    background-color: @red;
}

.quote-block.purple {
    background-color: @purple;
}

.quote-block.yellow {
    background-color: @yellow;
}

.quote-block.green {
    background-color: @green;
}

.quote-block.gray {
    background-color: @gray;
}

.quote-block.dark-gray {
    background-color: @darker-gray;
}

.quote-cite {
    display: flex;
    align-items: center;
    margin-top: @spacing-small;

    @media @screen-medium {
        margin-top: @spacing-large;
    }

    @media @screen-large {
        margin-top: @spacing-medium * 2;
    }
}

.quote-cite-content {
    display: inline-block;
    vertical-align: top;
    width: calc(~"100% - (70px + 1rem)");
    font-family: @main-font;
    font-size: @body-text-s;
    line-height: @line-height-body-s;

    @media @screen-medium {
        font-size: @body-text-m;
        line-height: @line-height-body-m;
        width: calc(~"100% - (100px + 2rem)");
    }
    
    @media @screen-large {
        font-size: @body-text-l;
        line-height: @line-height-body-l;
    }
}

.quote-cite img {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: @spacing-small;
    vertical-align: top;

    @media @screen-medium {
        width: 100px;
        height: 100px;
        margin-right: @spacing-small;
    }
}

.quote-cite-name {
    margin-bottom: 0;
    font-size: @body-text-s;
    line-height: @line-height-body-s;
    font-weight: @font-weight-bold;
    font-style: normal;
    color: @white;
    
    @media @screen-medium {
        font-size: @body-text-m;
        line-height: @line-height-body-m;
    }

    @media @screen-large {
        font-size: @body-text-l;
        line-height: @line-height-body-l;
    }
}

.quote-cite-title {
    font-style: italic;
    font-size: @body-text-s;
    line-height: @line-height-body-s;
    font-weight: @font-weight-normal;
    color: @white;
    
    @media @screen-medium {
        font-size: @body-text-m;
        line-height: @line-height-body-m;   
    }

    @media @screen-large {
        font-size: @body-text-l;
        line-height: @line-height-body-l;   
    }
}
