@import (reference) '../../styles/variables';

.body-text {
	width: 100%;
	max-width: @column-large-7;
	margin: 0 auto @spacing-large auto;
	padding-left: @spacing-default*1.5;
	padding-right: @spacing-default*1.5;
	font-size: @body-text-s;
	line-height: @line-height-body-s;
	font-weight: @font-weight-normal;
	text-align: left;
	color: @darker-gray;
	

	@media @screen-medium {
		font-size: @body-text-m;
		line-height: @line-height-body-m;	
	}	

	@media @screen-large {
		margin-bottom: @spacing-large*2;
		padding-left: 0;
		font-size: @body-text-l;
		line-height: @line-height-body-l;	
	}	
}