@import (reference) '../../styles/variables';

.statistics {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-family: @font-main;

	@media @screen-1170 {
		flex-direction: row;
	}
}

.statistics-large {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding-right: 0;
	text-align: center;

	@media @screen-1170 {
		width: 100%;
		max-width: 332px;
		padding-right: @spacing-default*6;
	}
}

.statistics-title-large {
	font-size: @subtitle-large-s;
	font-weight: @font-weight-bold;
	line-height: @line-height-header-small-s;

	@media @screen-768 {
		font-size: @subtitle-large-m;
		line-height: @line-height-header-small-m;
	}

	@media @screen-1170 {
		margin-top: @spacing-default*2;
		font-size: @subtitle-large-l;
		line-height: @line-height-header-small-l;
	}
}

.statistics-amount-large {
	padding-bottom: @spacing-default;
	font-size: 132px;
	font-weight: @font-weight-bold-extra;
	line-height: @line-height-giant-l;

	@media @screen-1170 {
		padding-bottom: @spacing-default*2.5;
		font-size: 198px;
	}
}

.statistics-large-divider {
	margin-bottom: @spacing-default*3;
	padding-top: @spacing-default*3;
	padding-bottom: @spacing-default*3;
	border-right: 0;
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);

	@media @screen-1170 {
		height: 290px;
		border-right: 2px solid rgba(255, 255, 255, 0.3);
		border-bottom: 0;
	}
}

.statistic-combination {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.statistic-combination-items {
	display: flex;
	width: 100%;
	margin: 0;
}

.statistics-normal {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 720px;

	@media @screen-1170 {
		margin-left: @spacing-default*9;
	}
}

.statistics-title-normal {
	font-size: @body-large-s;
	line-height: @line-height-body-small-s;
	text-align: center;

	@media @screen-768 {
		font-size: @body-large-m;
		line-height: @line-height-body-large-m;
	}

	@media @screen-1170 {
		font-size: @body-large-l;
		line-height: @line-height-body-large-l;
	}
}

.statistics-amount-normal {
	margin-bottom: @spacing-default;
	font-size: @line-height-giant-subtitle;
	font-weight: @font-weight-bold-extra;
	line-height: @line-height-header-small-l;

	@media @screen-768 {
		line-height: @line-height-title-l;
	}

	@media @screen-1170 {
		font-size: @title-giant-l;
	}
}

.statistics-call-to-action {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: @spacing-default*4;
	margin-bottom: @spacing-default*2;

	& > a {
		padding: @spacing-default @spacing-default*6;
		border: 2px solid @white;
		background-color: transparent;
		color: @white;

		@media @screen-1170 {
			margin-left: @spacing-default*9;
			padding: @spacing-default @spacing-default*3;
		}
	}
}
