@import (reference) '../../../styles/variables';

.icon-arrow-right-round {
	background-color: @white;
	padding: 10px;
	margin-left: 10px;
	border-radius: 50%;
	width: 11px;
	height: 11px;
	box-sizing: content-box;
	display: inline-block;
	vertical-align: middle;

	path {
		fill: @blue;
	}
}
