@import (reference) '../../../styles/variables';
@import (reference) '../../../styles/helpers';

.style-guide-header {
	.clearfix;
    margin-top: 0;
    border-bottom: 2px solid @gray;
}

.style-guide-header span {
	display: inline-block;
	padding-bottom: 5px;
    color: @gray;
    margin: 0;
    font-weight: 500;
    float: right;
}
