@import (reference) '../../styles/variables';
@import (reference) '../../styles/helpers';

.update-overview-small {
  .clearfix;

  @media @screen-small {
    .update-extract-small {
      margin-left: auto;
      margin-right: auto;
      width: auto;
      max-width: 450px;
    }
  }

  @media @screen-medium-large {
    .update-extract-small {
      float: left;
      margin: 0 @spacing-medium @spacing-default*7 0;
      width: calc(~'100% / 3 - ' @spacing-small);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.update-overview-button-centered {
  text-align: center;
}
