@import (reference) '../../../styles/variables';

.shape-diamond {
    transform: scale(1.33);
    transform-origin: center 20%;
}

.shape-diamond-bg {
    fill: @red;
}

.shape-diamond-front {
    fill: @blue;
}
