.call-to-action {
  margin-bottom: 80px;
  padding: @spacing-small;
  text-align: center;

  &.call-to-action-bg-color {
    padding: @spacing-default*4.5;

    @media @screen-medium {
      padding: @spacing-default*5;
    }

    @media @screen-medium-large {
      padding: @spacing-extra-large;
    }
  }

  @media @screen-medium-large {
    margin-bottom: 120px;
    padding: @spacing-large;
  }

  p {
    margin-top: 0;
  }

  .call-to-action-title {
    color: @darker-gray;
    font-size: @heading-s;
    font-weight: @font-weight-bold;
    line-height: @line-height-heading-s;

    &.title-white {
      color: @white;
    }

    @media @screen-medium {
      font-size: @heading-m;
      line-height: @line-height-heading-m;
    }
    @media @screen-large {
      font-size: @heading-l;
      line-height: @line-height-heading-l;
    }
  }

  .call-to-action-button {
    margin-bottom: 0;
  }
}
