.call-to-action {
	text-align: center;
	margin-bottom: 80px;
	padding: @spacing-medium;

	@media @screen-medium-large {
		margin-bottom: 120px;
	}

	.call-to-action-title {
		font-size: @heading-s;
		line-height: @line-height-heading-s;
		font-weight: @font-weight-bold;
		color: @darker-gray;

		@media @screen-medium {
			font-size: @heading-m;
			line-height: @line-height-heading-m;
		}
		@media @screen-large {
			font-size: @heading-l;
			line-height: @line-height-heading-l;
		}
	}
}
