@import (reference) '../../styles/variables';


.page-header-small-shapes {
	top: 200px;
	position: relative;

	.shape-triangle-1 {
		position: absolute;
		top: -180px;
		right: 900px;
		width: auto;
		height: 90px;
	}
	.shape-triangle-2 {
		position: absolute;
		top: 200px;
		left: -1200px;
		z-index: 1;
		width: auto;
		height: 62px;
	}
	.shape-triangle-3 {
		position: absolute;
		left: -100px;
		top: -130px;
		height: 25px;
		width: auto;
		@media @screen-medium {
			left: -230px;
			top: -100px;
			height: 45px;
		}
		@media @screen-large {
			left: -400px;
			top: -100px;
			height: 45px;
		}
	}
	.shape-triangle-4 {
		position: absolute;
		display: block;
		width: auto;
		height: 100px;
		top: -250px;
		left: -250px;

		@media @screen-medium {
			display: none;
		}
	}
	.shape-diamond-1 {
		position: absolute;
		top: -100px;
		left: 50px;
		width: auto;
		height: 16px;
	}
	.shape-circle-1 {
		position: absolute;
		width: auto;
		height: 14px;
		top: 250px;
		left: 1000px;
	}
}
