@import (reference) '../../styles/variables';

.vacancy-card {
  margin: 0 auto;
  background-color: @blue;
  color: @white;
}

.vacancy-card-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.vacancy-card-content {
  padding: @spacing-default*2;
  padding-bottom: 0;
}

.vacancy-card-title {
  font-size: @heading-small-s;
  line-height: 1;
}

.vacancy-card-tagline {
  margin-bottom: @spacing-default*2;
  font-size: @body-text-small-l;
  line-height: 1.5;
}

@media (min-width: 500px) and (max-width: 767px) {
  .vacancy-card {
    max-width: 450px;
  }
}

@media @screen-768 {
  .vacancy-card {
    display: flex;
  }

  .vacancy-card-image {
    max-width: 400px;
    height: auto;
  }

  .vacancy-card-content {
    padding: @spacing-default*4;
    padding-bottom: @spacing-default*2;
  }

  .vacancy-card-title {
    font-size: @heading-small-m;
  }

  .vacancy-card-tagline {
    margin-bottom: @spacing-default*4;
    font-size: @body-text-s;
  }

  .vacancies-btn {
    float: right;
    font-size: @body-text-m;
  }
}

@media @screen-1024 {
  .vacancy-card-image {
    max-width: 450px;
    height: auto;
  }

  .vacancy-card-title {
    font-size: @heading-small-l;
  }

  .vacancy-card-tagline {
    margin-bottom: @spacing-default*4;
    font-size: @body-text-l;
  }
}
