@import (reference) '../../styles/variables';

.menu {
	background: transparent;
	z-index: 2;
}

.menu-background-transparent {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	background: black;
	opacity: 0.4;
}

.menu-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	top: 0;
	right: 200%;
	width: 100%;
	height: 100vh;
	padding: @spacing-small*5 @spacing-small;
	background: transparent;
	z-index: 3;

	@media @screen-medium {
		width: 50vw;
		transform: rotate(-22deg);
	}
}

.menu-list {
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	font-style: normal;

	@media @screen-medium {
		padding: 0 @spacing-small;
	}
}

.menu-list li {
	text-align: left;
	font-size: @title-large-s;
	line-height: @line-height-title-s;
	font-weight: @font-weight-bold;
	margin-bottom: @spacing-small;

	&.menu-item-last {
		margin-bottom: @spacing-default*7 + @spacing-small;
	}

	@media @screen-small {
		font-size: @title-large-s;
		line-height: @line-height-title-s;
	}

	@media @screen-medium {
		transform: rotate(22deg);
	}

	@media @screen-large {
		font-size: @title-large-m;
		line-height: @line-height-title-l;
		text-align: left;
	}
}

.menu-list a {
	color: @light-gray;
	text-decoration: none;
	transition: color .3s;
}

.menu-item-sub a {
	color: @dark-gray;
}

.menu .menu-social {
	display: inline-block;
	a {
		display: inline-block;
		margin-right: @spacing-default;
	}
}

.menu-item-red a:hover {
	color: @red;
}

.menu-item-green a:hover {
	color: @green;
}

.menu-item-blue a:hover  {
	color: @blue;
}

.menu-item-yellow a:hover {
	color: @yellow;
}

.menu-item-sub a:hover {
	color: @white;
}

.menu-background {
	position: fixed;
	right: 15px;
	top: 10px;
	height: 50px;
	fill: @black;
	transform-origin: 0 0;
	z-index: 3;
	opacity: 0;

	@media @screen-large {
		right: 30px;
		top: 20px;
		height: 80px;
	}
}

.menu-background-final {
	position: fixed;
	fill: @black;
	z-index: 3;
	height: 0;
	width: 0;
	transform-origin: 0 0;
}

