@import (reference) '../../styles/variables';

.header {
	position: absolute;
	top: 0;
	width: 100%;
	height: @header-height;
	text-align: center;
	background: @white;
	padding-bottom: 200px;
}

.header.open {
	h1 {
		color: @light-gray;
	}

	.btn svg path{
		fill: @light-gray;
	}
}

.header .container {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
	margin-top: 0;
	// line-height: @header-height;
	height: 66px;

	@media @screen-small {
		margin-top: 0;
	}
	@media @screen-large {
		height: 100px;
	}
}

.header-logo {
	display: inline-block;
	z-index: 3;
	&:visited {
		color: @black;
	}
}

.header .btn {
	z-index: 3;
	position: fixed;
	top: 33px;
	right: 0;
	transform: translateY(-50%);
	font-size: 0;
	background: transparent;
	border: none;
    padding: 0 @spacing-default;
	margin: 0;
	cursor: pointer;

	&.white svg {
		fill: @white;
	}

	@media @screen-medium {
		padding: 0 @spacing-small;
	}
	@media @screen-large {
		top: 50px;
	}
	@media only screen and (min-width: @container-max-width) {
		right: calc(~"(100vw - @{column-large-12} + 32px) / 2");
	}
}

.header .btn.white svg {
	fill: @white;
}
