@import (reference) '../../styles/variables';

.header {
	position: absolute;
	top: 0;
	width: 100%;
	height: @header-height;
	text-align: center;
	background: @white;
	padding-bottom: 200px;
}

.header .container {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
	margin-top: 0;
	height: 60px;

	@media @screen-small {
		margin-top: 0;
	}
	@media @screen-large {
		height: 100px;
	}
}

.header-logo {
	display: inline-block;
	z-index: 3;
	svg {
		height: 20px;
		width: 120px;
	}
	&:visited {
		color: @black;
	}

	.logo-body {
		transition: fill 0.3s;
	}

	.animation-is-finished & {
		background: @black;
		padding: 20px 15px;
		margin-left: -15px;
	}

	.is-open & {
		@media @screen-medium {
			padding: 0;
			margin-left: 0;
			margin-top: 0;
			background: transparent;
		}

		.logo.black .logo-body {
			fill: @white;
		}
	}

	@media @screen-medium {
		svg {
			height: 30px;
			width: 130px;
		}
	}
}

.menu-btn {
	z-index: 3;
	position: fixed;
	top: 30px;
    right: 25px;
	transform: translateY(-50%);
	font-size: 0;
	background: transparent;
	border: none;
    padding: 0;
	margin: 0;
	cursor: pointer;
	outline: none;

	.menu-btn-icon svg {
		position: relative;
		fill: @black;
		width: 30px;
		height: 30px;
		transition: fill 0.3s;
	}

	svg.menu-btn-background {
		position: absolute;
		left: -10px;
		top: -7px;
		width: 50px;
		height: 50px;
		transition: opacity 0.3s, transform 0.3s;
	}

	svg.menu-btn-background-basis {
		fill: @white;
	}

	svg.menu-btn-background-hover {
		opacity: 0;
		fill: @black;
	}

	&:hover {
		.menu-btn-icon svg {
			fill: @white;
		}

		svg.menu-btn-background-basis {
			opacity: 0;
		}

		svg.menu-btn-background-hover {
			opacity: 1;
			transform: scale(1.2);
		}
	}

	.is-open & .menu-btn-icon svg {
		fill: @white;
	}

	@media @screen-medium {
		padding: 0;
	}
	@media @screen-large {
		top: 55px;
		right: 49px;

		.menu-btn-icon svg {
			width: 40px;
			height: 40px;
		}

		svg.menu-btn-background {
			left: -21px;
			top: -15px;
			width: 80px;
			height: 80px;
		}
	}
}
