@import (reference) '../../styles/variables';

.image-combo {
	position: relative;
	margin-bottom: @spacing-extra-large;

	.text-card {
		z-index: 1;
		word-wrap: break-word;	
	}

	.full-width-image {
		margin-bottom: 0;
	}

	.quote-block {
		position:relative;
		z-index: 1;		
		margin-top: -@spacing-extra-large;

		@media @screen-medium {
			margin-top: -@spacing-extra-large*2;
		}
	}

	@media @screen-medium {
		margin-top: @spacing-large;
		margin-bottom: @spacing-default*8;
		max-width: @max-width-image;
		margin: auto;
	}

	@media @screen-large {
		.text-card {
			width: 800px;
			margin-left: 0;
			margin-right: auto;
		}
	}
}

blockquote.quote-block-left {
	margin-right: @spacing-default*1.5;
	margin-left: 0;

	@media @screen-large {
		margin-right: 0;
		max-width: @column-large-10;
	}
}

blockquote.quote-block-right {
	margin-left: @spacing-default*1.5;
	margin-right: 0;

	@media @screen-large {
		max-width: @column-large-10;
		margin-left: auto;
	}
}

.image-combo-text {
	position: relative;
	.full-width-image {
		margin-top: -@spacing-extra-large;

		@media @screen-medium {
			margin-top: -300px;
		}
	}
}
