@import '../../styles/variables';

.contact {
	height: 230px;
	margin-bottom: 10px;
	background: @gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact span {
	font-size: 24px;
	font-weight: bold;
}
