@import (reference) '../../styles/variables';

.services-item {
	margin-bottom: 75px;

	@media @screen-medium {
		display: flex;
		align-items: flex-start;
		margin-bottom: 100px;
	}
}

.services-item img {
	margin-bottom: @spacing-default;
	width: 75px;
	height: 75px;
	background: @gray;

	@media @screen-medium {
		display: inline-block;
		margin-bottom: 0;
		min-width: 100px;
		height: 100px;
	}
}

.services-item-heading {
	font-size: 30px;
	margin-bottom: 12px;
	@media @screen-medium {
		font-size: 36px;
	}
}

.services-item-info {
	display: inline-block;
	width: 100%;
	@media @screen-medium {
		vertical-align: top;
		width: auto;
		margin-left: 60px;
		position: relative;
	}
}

.services-item-text {
	@media @screen-medium {
		margin-bottom: @spacing-default;
	}
}

.services-item-tags {
	margin-bottom: 40px;
	@media @screen-medium {
		margin-bottom: 0;
	}
}

.services-item .btn {
	background: @gray;
	font-size: 20px;
	padding: 8px 16px;
	@media @screen-medium {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}
