@import (reference) '../../styles/variables';

.services-item {
  position: relative;
  margin-bottom: @spacing-large*2;
  padding: @spacing-large @spacing-small;
  color: @white;
  font-style: normal;

  &::before {
    display: none;
  }

  @media @screen-768 {
    display: flex;
    padding: @spacing-large @spacing-default*5;
  }

  @media @screen-1170 {
    margin-top: @spacing-medium;
    padding: @spacing-extra-large @spacing-default*10 @spacing-large*2 @spacing-default*10;
  }
}

.services-item-heading {
  margin-bottom: @spacing-default;
  font-size: @title-large-s;
  font-weight: @font-weight-bold;
  line-height: @line-height-title-s;

  &::before {
    content: '';
    display: block;
    width: 130px;
    height: 30px;
    float: right;

    @media @screen-768 {
      display: none;
    }
  }

  @media @screen-768 {
    margin-bottom: @spacing-small;
    font-size: @heading-m;
    line-height: @line-height-heading-m;
  }

  @media @screen-1170 {
    font-size: @heading-l;
    line-height: @line-height-heading-l;
  }
}

.services-item-info {
  display: inline-block;
  width: 100%;

  @media @screen-768 {
    position: relative;
    width: 50%;
    max-width: 460px;
    margin: 0;
    padding-right: @spacing-small;
    vertical-align: top;
  }

  @media @screen-1170 {
    width: 60%;
    max-width: 540px;
  }
}

.services-item:nth-child(even) .services-item-info {
  @media @screen-768 {
    order: 1;
    padding-right: 0;
    padding-left: @spacing-small;
    float: right;
  }
}

.services-item-text {
  font-size: @body-text-s;
  font-weight: @font-weight-normal;
  line-height: @line-height-body-s;

  @media @screen-768 {
    margin-bottom: @spacing-small;
    font-size: @body-text-m;
    line-height: @line-height-body-m;
  }

  @media @screen-1170 {
    font-size: @body-text-l;
    line-height: @line-height-body-l;
  }
}

.services-item-info .services-item-tags {
  padding-left: @spacing-small;

  @media @screen-768 {
    margin-bottom: 0;
  }

  li::before {
    background-color: @white;
  }
}

.services-item-info .services-item-tags .content {
  font-size: @body-text-s;
  font-style: italic;
  font-weight: @font-weight-normal;
  line-height: @line-height-body-s;

  @media @screen-768 {
    font-size: @body-text-m;
    line-height: @line-height-body-m;
  }

  @media @screen-1170 {
    font-size: @body-text-l;
    line-height: @line-height-body-l;
  }
}

.service-item-graphics {
  @media @screen-768 {
    position: relative;
    width: 40%;
    max-width: 300px;
    margin-left: auto;
    float: right;
  }
}

.services-item:nth-child(even) .service-item-graphics {
  @media @screen-768 {
    margin-right: auto;
    margin-left: 0;
    float: left;
  }
}

.service-item-graphics .shape {
  position: absolute;
  top: 0;
  right: 25px;
  width: 100px;
  height: 100px;
  transform: translateY(-40%);

  @media @screen-768 {
    position: relative;
    right: 0;
    width: 100%;
    height: auto;
    transform: translateY(calc(~"-96px - 30px")); // 96 from padding parent and 30 as in design
  }
}
