.cookie-notification {
  background-color: rgba(0,0,0,.8);
  // position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  font-size: 14px;
  color: white;
  padding: 1rem;

  &.hidden {
    display: none;
  }
}