@import (reference) '../../styles/variables.less';

.company-overview-small {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 0;
  overflow: hidden;

  @media @screen-768 {
    flex-direction: row;
    margin: 0 auto;
    padding-bottom: @spacing-default*12;
  }

  @media @screen-1170 {
    max-width: @column-large-10;
  }
}
