@import (reference) '../../styles/variables';

.company-overview-small {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 0;
  overflow: hidden;

  @media @screen-medium {
    flex-direction: row;
    margin: 0 auto;
    padding-bottom: 120px;
  }

  @media @screen-large {
    max-width: @column-large-10;
  }
}
