@import (reference) '../../styles/variables';

.case-intro {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
    text-align: center;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
	padding-top: @header-height + @header-margin-sm;
	margin-bottom: 50px;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 80%;
		background: linear-gradient(0deg, fade(@black, 50%), fade(@black, 0%));
	}

	@media @screen-medium {
		padding-top: @header-height + @header-margin-lg;
		margin-bottom: 100px;
	}
}

.case-intro-inner {
    margin-bottom: 0;
	z-index: 1;
	padding-bottom: 2rem;
}

.case-intro-title {
    color: @white;
    font-weight: @font-weight-bold-extra;
    font-size: @title-extra-large-s;
    line-height: 48px;

    @media @screen-medium {
        font-size: @title-extra-large-m;
        line-height: 68px;
    }

    @media @screen-large {
        font-size: @title-extra-large-l;
        line-height: 140px;
    }
}

.case-intro-subtitle {
    font-size: @subtitle-large-s;
    color: @white;
    max-width: 800px;
    margin: 0 auto 1rem;

    @media @screen-medium {
        font-size: @subtitle-large-m;
        line-height: 28px;
    }

    @media @screen-large {
        font-size: @subtitle-large-l;
        line-height: 42px;
    }
}

.case-intro .icon svg {
    border-color: @white;

    path {
        fill: @white;
    }

    &:hover {
        background-color: @white;

        path {
            fill: @red;
        }
    }
}
