@import (reference) '../../styles/variables';

.text-block {
	.shadow;
    background-color: @blue;
    color: @white;
    padding: @spacing-default*4 @spacing-medium @spacing-default*4 @spacing-medium;
	//todo: set this in variable with fallback font
    font-family: 'playfair';
    font-weight: @font-weight-normal;
    font-size: @subtitle-large-s;
    line-height: 35px;
    margin: 0 0 @spacing-default*5 @spacing-default*1.5;

    @media @screen-small {
        margin-left: 10%;
        margin-bottom: @spacing-default*9;
    }

    @media @screen-medium {
        margin-left: 20%;
        padding: @spacing-default*9 @spacing-default*7;
        font-size: @subtitle-large-m;
        line-height: @line-height-quote;
    }
    
    @media @screen-medium-large {
        margin-bottom: @spacing-small*5;
    }
    
    @media @screen-large {
        padding: @spacing-default*10 @spacing-default*11;
        // Align the content with the container-inner + 50px for extra spacing just after the @screen-large mark
        margin-left: calc(~'(100vw - @{container-inner-max-width}) / 2 + 200px');
        font-size: @quote-large-l;
        line-height: @line-height-quote;
    }
}

.text-block.blue {
    background-color: @blue;
}

.text-block.red {
    background-color: @red;
}

.text-block.purple {
    background-color: @purple;
}

.text-block.yellow {
    background-color: @yellow;
}

.text-block.green {
    background-color: @green;
}

.text-block.gray {
    background-color: @gray;
}

.text-block.dark-gray {
    background-color: @darker-gray;
}