@import (reference) '../../styles/variables';

.collage {
	position: relative;
	margin-bottom: @spacing-default*8;

	@media @screen-500 {
		display: flex;
		flex-direction: column;
	}

	@media @screen-768 {
		display: flex;
		flex-direction: row;
		padding: 0 0;
	}

	@media @screen-1024 {
		margin-bottom: @spacing-default*12;
	}

	@media @screen-1170 {
		padding-top: @spacing-default*4;
	}

	a {
		&,
		&:visited {
			color: @red;
			text-decoration: none;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.collage-image-container {
	position: relative;
	width: 100%;
	overflow: hidden;

	@media @screen-768 {
		width: 50%;
		overflow: visible;
	}
}

.collage-image-container-inner {
	position: relative;
}

.collage-image-small {
	display: none;
	position: absolute;
	right: -@spacing-default*3;

	@media @screen-768 {
		display: block;
		right: -@spacing-default*4;
		bottom: 30px;
	}

	@media @screen-1024 {
		right: -@spacing-default*8;
		bottom: 50px;
	}

	@media @screen-1170 {
		right: -@spacing-default*8;
		bottom: 70px;
	}
}

.collage-image-small-hidden,
.collage-image-small {
	max-height: 326px;

	@media (min-width: 1500px) {
		max-height: 436px;
	}
}

.collage-image-small-hidden {
	display: none;
	opacity: 0;

	@media @screen-768 {
		display: block;
		margin-top: -@spacing-default*3;
	}

	@media @screen-1024 {
		margin-top: -@spacing-default*10;
	}

	@media @screen-1170 {
		margin-top: -@spacing-default*12;
	}
}

.collage-image-medium {
	width: 100%;
	min-height: 261px;

	@media @screen-500 {
		width: 100%;
		max-width: @column-large-6;
		max-height: 541px;
	}
}

.collage-text-container {
	display: flex;
	flex-direction: column;
	margin-top: @spacing-default*2;
	margin-right: @spacing-default*2;
	margin-bottom: 0;

	@media @screen-500 {
		margin-right: @spacing-default*3;
		padding: 0 0;
	}

	@media @screen-768 {
		width: 50%;
		max-width: @column-large-3;
		margin-top: @spacing-default*10;
		margin-right: @spacing-default*3;
		margin-left: auto;
		padding: 0 0 0 @column-large-1;
	}

	@media @screen-1024 {
		margin-right: @spacing-default*8;
		margin-left: @spacing-default*10;
	}

	@media @screen-1170 {
		margin-right: auto;
		margin-left: auto;
		padding: 0 0;
	}
}

.collage-text-title {
	width: 100%;
	margin-bottom: 16px;
	color: @darker-gray;
	font-size: @heading-s;
	font-weight: @font-weight-bold;
	line-height: @line-height-heading-s;

	@media @screen-768 {
		font-size: @heading-m;
		line-height: @line-height-heading-m;
	}

	@media @screen-1170 {
		font-size: @heading-l;
		line-height: @line-height-heading-l;
	}
}

.collage-text-description {
	width: 100%;
	margin-bottom: 16px;
	color: @darker-gray;
	font-size: @body-large-s;
	font-weight: @font-weight-normal;
	line-height: @line-height-body-large-s;

	@media @screen-768 {
		font-size: @body-large-m;
		line-height: @line-height-body-large-m;
	}

	@media @screen-1170 {
		font-size: @body-large-l;
		line-height: @line-height-body-large-l;
	}
}
