@import (reference) '../../styles/variables';

.collage {
	position: relative;
	@media @screen-small {
		display: flex;
		flex-direction: column;
	}
	@media @screen-medium {
		display: flex;
		flex-direction: row;
		margin-bottom: 60px;
		padding: 0 0;
	}
	@media @screen-large {
		margin-bottom: 100px;
	}
}

.collage-image-container {
	width: 100%;
	overflow: hidden;
	
	@media @screen-small {
		max-height: 480px;
		overflow: hidden;
	}
	@media @screen-medium {
		width: 50%;
		max-height: 740px;
		overflow: visible;
	}
}

.collage-image-small {
	width: 100%;
	max-width: @column-large-5;
	max-height: 326px;
	position: relative;
	display: none;
	bottom: 170px;
    left: 27%;

	@media @screen-medium {
        display: block;
    }
}

.collage-image-medium {
	width: 100%;
	min-height: 261px;
	@media @screen-small {
		width:100%;
		max-width: @column-large-6;
		max-height: 541px;
	}
}


.collage-text-container {
	display: flex;
	flex-direction: column;
	margin-top: 38px;
	margin-bottom: 29px;

	@media @screen-small {
		padding: 0 0;
	}

	@media @screen-medium {
		width: 50%;
		margin-top: 100px;
		max-width: @column-large-3;
		margin-left: auto;
		margin-right: auto;
		padding: 0 0 0 @column-large-1;
	}

	@media @screen-large {
		padding: 0 0;
	}
}

.collage-text-title {
	width: 100%;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 16px;

	@media @screen-medium {
		font-size: 46px;
		line-height: 56px;
	}
}

.collage-text-description {
	width: 100%;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 16px;
}
