@import (reference) '../../styles/variables';

.body-quote {
  width: 100%;
  max-width: @column-large-7;
  margin: 0 auto @spacing-large auto;
  padding-right: @spacing-default*1.5;
  padding-left: @spacing-default*1.5;
  color: @dark-blue;
  font-family: @font-alt;
  font-size: @title-small-s;
  font-weight: @font-weight-normal;
  line-height: @line-height-title-small-s;
  text-align: left;

  @media @screen-768 {
    margin-bottom: @spacing-large*2;
    font-size: @title-small-m;
    line-height: @line-height-title-small-m;
  }

  @media @screen-1024 {
    position: relative;
    left: -45px;
  }

  @media @screen-1170 {
    padding-left: 0;
    font-size: @title-small-l;
    line-height: @line-height-title-small-l;
  }
}

.body-quote-quotee {
  display: block;
  margin-top: @spacing-half;
  font-size: @body-text-s;
  line-height: @line-height-body-s;

  @media @screen-768 {
    margin-top: @spacing-default;
    font-size: @body-text-m;
    line-height: @line-height-body-m;
  }

  @media @screen-1170 {
    font-size: @body-text-l;
    line-height: @line-height-body-l;
  }
}
