@import (reference) '../../styles/variables';

.services-approach-shapes {
	.shape-triangle-1 {
		position: absolute;
		top: -70px;
		left: 90%;
		width: auto;
		max-width: 100%;
		height: 72px;

		@media  @screen-medium {
			top: -120px;
			left: 80%;
			height: 116px;
		}

		@media  @screen-large {
			top: 40px;
			left: 80%;
			height: 200px;
		}
	}
}
