@import (reference) '../../styles/variables';
@import (reference) '../../styles/shadows';

.case-extract-small-image {
	background-size: cover;
	height: 282px;
	background-position: 50% 50%;

	@media @screen-medium {
		height: 300px;
	}
	@media @screen-medium-large {
		height: 350px;
	}
	@media @screen-large {
		height: 433px;
	}
}

.case-extract-small {
	position: relative;
	max-height: 321px;
	margin: 0 0 @spacing-large 0;



	& > a {
		text-decoration: none;
	}

	@media @screen-medium {
		max-height: 340px;
	}

	@media @screen-medium-large {
		max-height: 390px;
	}

	@media @screen-large {
		padding-bottom: 0;
		max-height: 473px;
		margin: 0 0 @spacing-large*2 0;
		
		&:hover {

			.case-extract-small-text > h4,
			.case-extract-small-button {
				opacity: 1;
				display: block;
				transition: opacity 0.1s;
				transition-delay: 0.1s;
			}

			.case-extract-small-text {
				height: auto;
				transform: translateY(-160px);
				transition: transform 0.1s;
			}

			.case-extract-small-bg-inner {
				transform: scaleY(2);
				transition: transform 0.1s;
			}
		}
	}
}

.case-extract-small-bg {
	.shadow;
	display: block;
	height: 150px;
    width: auto;
    margin: -110px @spacing-default * 1.5 0 @spacing-default * 1.5;
}

.case-extract-small-bg-inner {
	transform-origin: left bottom;
	transition: transform 0.5s;
	width: 100%;
	height: 100%;
}

.case-extract-small-text {
	padding: @spacing-medium @spacing-small  @spacing-medium  @spacing-medium;
	margin: -150px @spacing-default*1.5 0 @spacing-default*1.5;
	color: @white;
	text-decoration: none;
	transform-origin: left bottom;
	transition: transform 0.5s;
	a {
		&,
		&:visited {
			color: @red;
			text-decoration: none;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	.case-extract-text-dark & {
		color: @black;
	}

	h3 {
		font-size: @heading-s;
		line-height: @line-height-subtitle-m;
		font-weight: @font-weight-bold;
		margin-bottom:  @spacing-default;
	}

	h4 {
		opacity: 0;
		transition: opacity 0.1s;
		display: block;
		line-height: @line-height-body-s;
		font-size: @body-text-s;
		margin-bottom: @spacing-medium;
		font-weight: @font-weight-normal;
	}

	span {
		display: block;
		margin-bottom: @spacing-default/2;
		font-style: italic;
		font-weight: @font-weight-normal;
		font-size:  @body-text-s;
		line-height: @line-height-body-s;
		opacity: 0.8;
		text-decoration: none;
	}

	@media @screen-medium {
		h3 {
			line-height: @line-height-title-s;
			font-size: @title-large-s;
		}
		h4 {
			line-height: @line-height-body-m;
			font-size: @body-text-m;
		}
		span {
			line-height: @line-height-body-m;
			font-size: @body-text-m;
		}
	}

	@media @screen-large {
		h4 {
			line-height: @line-height-body-l;
			font-size: @body-text-l;
		}
		span {
			line-height: @line-height-body-l;
			font-size: @body-text-l;
		}
	}
}

.case-extract-small-button {
	display: block;
	opacity: 0;
	transition: opacity 0.1s;
	margin: 0 @spacing-small @spacing-small auto;
	width: 55px;
	height: 55px;
    position: absolute;
    bottom: 0;
	right: 15px;

	svg {
		margin-top: 0;
		width: 55px;
		height: 55px;

		path {
			fill: @white;
		}
	}
}
