@import (reference) './variables';

.btn-primary {
    display: inline-block;
    color: @white;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    background-color: @blue;
    border: 1px solid @blue;
    padding: 12px 42px;
    margin-bottom: 20px;
    border-radius: 100px;
    transition: background 0.3s ease, color 0.3s ease;

    @media @screen-medium {
        padding: 19px 50px;
    }

    &:hover {
        color: @blue;
        background-color: transparent;
    }
}

.btn-secondary {
	display: inline-block;
    padding: 12px 42px;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
	text-decoration: none;
    color: @red;
	border: 1px solid @red;
	margin-bottom: 20px;
	border-radius: 100px;
	transition: background 0.3s ease, color 0.3s ease;

    @media @screen-medium {
        padding: 19px 50px;
    }

    &:hover {
        color: @white;
        background-color: @red;

        .icon svg path {
			fill: @white;
        }
    }

    .icon {
        margin-left: 18px;
        svg path {
            fill: @red;
            transition: fill 0.3s ease;
        }
    }
}

.btn-secondary-alt {
    background-color: @red;
    color: @white;

    &:hover {
        background-color: transparent;
        color: @red;
    }
}

.btn-tertiary {
	display: inline-block;
	font-weight: 600;
	font-size: 14px;
    background: none;
	text-decoration: none;
    border: none;
    padding: 0;
    color: @red;
	transition: background 0.3s ease, color 0.3s ease;

    @media @screen-small {
        font-size: 20px;
    }

    &:hover .icon svg {
		background: @red;

		path {
			fill: @white;
		}
    }

    .icon svg {
        display: block;
        margin: 20px auto 0;
        border: 2px solid;
        border-radius: 50%;
        background: transparent;
        transition: background 0.3s ease;
        width: 40px;
        height: 40px;

        @media @screen-small {
            width: 52px;
            height: 52px;
            border: 1px solid;
        }

        svg path {
            fill: @red;
            transition: fill 0.3s ease;
        }
    }
}
