@import (reference) './variables';


.btn-tertiary {
	display: inline-block;
	font-weight: @font-weight-light;
    font-size: @body-text-s;
    line-height: @line-height-body-s;
    background: none;
	text-decoration: none;
    border: none;
    color: @white;
	transition: background 0.3s ease, color 0.3s ease;

    @media @screen-medium {
        padding: @spacing-small @spacing-default*5;
        font-size: @body-text-m;
        line-height: @line-height-body-m;
    }


	&:hover {
		cursor: pointer;
	}

    .icon svg {
        display: block;
        margin: 0 auto;
        background: transparent;
        transition: background 0.3s ease;
        width: 40px;

        @media @screen-small {
            width: 45px;
        }

        path {
            fill: @white;
            transition: fill 0.3s ease;
        }
    }
}

.btn-icon-round {
	border: none;
	background: none;
	padding: 0;

	.icon svg {
		width: 40px;
		border: 1px solid;
		border-radius: 50%;
		transition: background 0.3s ease;

		@media @screen-small {
			width: 45px;
		}

		path {
			fill: @red;
			transition: fill 0.3s ease;
		}
	}

	&:hover {
		.icon svg {
			background: @red;
		}

		.icon svg path {
			fill: @white;
		}
	}
}

.btn-text {
    display: block;
    padding-bottom: @spacing-small;
}
