@font-face {
	font-family: 'gilroy';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('/static/fonts/gilroy-black-webfont.woff2') format('woff2'),
		url('/static/fonts/gilroy-black-webfont.woff') format('woff');
}

@font-face {
	font-family: 'gilroy';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/static/fonts/gilroy-bold-webfont.woff2') format('woff2'),
		url('/static/fonts/gilroy-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'gilroy';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('/static/fonts/gilroy-bolditalic-webfont.woff2') format('woff2'),
		url('/static/fonts/gilroy-bolditalic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'gilroy';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/static/fonts/gilroy-semibold-webfont.woff2') format('woff2'),
		url('/static/fonts/gilroy-semibold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'gilroy';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/static/fonts/gilroy-medium-webfont.woff2') format('woff2'),
		url('/static/fonts/gilroy-medium-webfont.woff') format('woff');
}

@font-face {
	font-family: 'gilroy';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('/static/fonts/gilroy-mediumitalic-webfont.woff2') format('woff2'),
		url('/static/fonts/gilroy-mediumitalic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'gilroy';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/static/fonts/gilroy-regular-webfont.woff2') format('woff2'),
		url('/static/fonts/gilroy-regular-webfont.woff') format('woff');
}

@font-face {
	font-family: 'playfair';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('/static/fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
		url('/static/fonts/playfairdisplay-regular-webfont.woff') format('woff');
}
