@import './grid';

@darken-value: 10%;

.form {
  width: 100%;
  max-width: @column-small-6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;

  @media @screen-medium {
    max-width: @column-small-9;
  }
}

.form-title {
  text-align: center;
  margin-bottom: @spacing-small;
  font-size: @heading-s;
  line-height: @line-height-heading-s;
  font-weight: @font-weight-bold;

  @media @screen-medium {
    font-size: @heading-m;
    line-height: @line-height-heading-m;
  }

	@media @screen-large {
    font-size: @heading-l;
    line-height: @line-height-heading-l;
	}
}

.input-field {
  margin-bottom: @spacing-small;
  width: 100%;

  @media @screen-medium {
    display: inline-block;
    width: calc(50% - 15px);
  }
}

.input-field-full-width {
  flex-basis: 100%;
}

.label {
  display: block;
  margin-bottom: @spacing-default;
  font-size: @heading-small-s;
  font-weight: @font-weight-bold;

  @media @screen-medium {
    display: inline-block;
  }
}

.input {
  padding: 0 @spacing-small;
  font-size: @body-text-s;
  width: 100%;
  height: 58px;
  background-color: @white-grey;
  border: none;
  border-bottom: 3px solid #e0e0e0;
  box-shadow: none;

  &:focus {
    outline: none;
    border-bottom: 3px solid @blue;
  }

  &.should-validate:invalid {
    border-bottom: 3px solid @red;
  }
}

// overrides default yellow autofill style
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px @white-grey inset;
}

.textarea {
  min-height: 260px;
  padding: @spacing-small @spacing-small;
  display: block;
}

.submit-btn {
  display: block;
  margin: 0 auto;
}

.btn-right-aligned {
  margin-left: auto;
}
