//column variants
@columnWidthLarge: 83px;
@columnWidthSmall: 75px;
//gutter variants
@gutterLarge: 40px;
@gutterSmall: 15px;

//desktop version
@column-large-1:  @columnWidthLarge;
@column-large-2:  (@columnWidthLarge * 2) + (@gutterLarge * 1);
@column-large-3:  (@columnWidthLarge * 3) + (@gutterLarge * 2);
@column-large-4:  (@columnWidthLarge * 4) + (@gutterLarge * 3);
@column-large-5:  (@columnWidthLarge * 5) + (@gutterLarge * 4);
@column-large-6:  (@columnWidthLarge * 6) + (@gutterLarge * 5);
@column-large-7:  (@columnWidthLarge * 7) + (@gutterLarge * 6);
@column-large-8:  (@columnWidthLarge * 8) + (@gutterLarge * 7);
@column-large-9:  (@columnWidthLarge * 9) + (@gutterLarge * 8);
@column-large-10:  (@columnWidthLarge * 10) + (@gutterLarge * 9);
@column-large-11:  (@columnWidthLarge * 11) + (@gutterLarge * 10);
@column-large-12:  (@columnWidthLarge * 12) + (@gutterLarge * 11);

//mobile version
@column-small-1:  @columnWidthSmall;
@column-small-2:  (@columnWidthSmall * 2) + (@gutterSmall * 1);
@column-small-3:  (@columnWidthSmall * 3) + (@gutterSmall * 2);
@column-small-4:  (@columnWidthSmall * 4) + (@gutterSmall * 3);
@column-small-5:  (@columnWidthSmall * 5) + (@gutterSmall * 4);
@column-small-6:  (@columnWidthSmall * 6) + (@gutterSmall * 5);
@column-small-7:  (@columnWidthSmall * 7) + (@gutterSmall * 6);
@column-small-8:  (@columnWidthSmall * 8) + (@gutterSmall * 7);
@column-small-9:  (@columnWidthSmall * 9) + (@gutterSmall * 8);
@column-small-10:  (@columnWidthSmall * 10) + (@gutterSmall * 9);
@column-small-11:  (@columnWidthSmall * 11) + (@gutterSmall * 10);
@column-small-12:  (@columnWidthSmall * 12) + (@gutterSmall * 11);
