//column variants
@columnWidthLarge: 110px;
@columnWidthSmall: 79px;
//gutter variants
@gutterLarge: 10px;
@gutterSmall: 8px;

//desktop version
@column-large-1:  @columnWidthLarge; 
@column-large-2:  (@columnWidthLarge * 2) + (@gutterSmall * 2); 
@column-large-3:  (@columnWidthLarge * 3) + (@gutterSmall * 4); 
@column-large-4:  (@columnWidthLarge * 4) + (@gutterSmall * 6); 
@column-large-5:  (@columnWidthLarge * 5) + (@gutterSmall * 8); 
@column-large-6:  (@columnWidthLarge * 6) + (@gutterSmall * 10); 
@column-large-7:  (@columnWidthLarge * 7) + (@gutterSmall * 12); 
@column-large-8:  (@columnWidthLarge * 8) + (@gutterSmall * 14); 
@column-large-9:  (@columnWidthLarge * 9) + (@gutterSmall * 16); 
@column-large-10:  (@columnWidthLarge * 10) + (@gutterSmall * 18); 
@column-large-11:  (@columnWidthLarge * 11) + (@gutterSmall * 20); 
@column-large-12:  (@columnWidthLarge * 12) + (@gutterSmall * 22); 
//mobile version
@column-small-1:  @columnWidthSmall; 
@column-small-2:  (@columnWidthSmall * 2) + (@gutterLarge * 2); 
@column-small-3:  (@columnWidthSmall * 3) + (@gutterLarge * 4); 
@column-small-4:  (@columnWidthSmall * 4) + (@gutterLarge * 6); 
@column-small-5:  (@columnWidthSmall * 5) + (@gutterLarge * 8); 
@column-small-6:  (@columnWidthSmall * 6) + (@gutterLarge * 10); 
@column-small-7:  (@columnWidthSmall * 7) + (@gutterLarge * 12); 
@column-small-8:  (@columnWidthSmall * 8) + (@gutterLarge * 14); 
@column-small-9:  (@columnWidthSmall * 9) + (@gutterLarge * 16); 
@column-small-10:  (@columnWidthSmall * 10) + (@gutterLarge * 18); 
@column-small-11:  (@columnWidthSmall * 11) + (@gutterLarge * 20); 
@column-small-12:  (@columnWidthSmall * 12) + (@gutterLarge * 22); 
