.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.a11y-sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

.list-no-style {
	font-style: normal;
	font-weight: 400;
	margin:  0;
	padding: 0;

	li::before{
		display: none;
	}
}

.is-hidden {
	display: none !important;
}
