@import (less) '../vendor/normalize.css';

@import (once) 'helpers';
@import (once) 'fonts';
@import (once) 'typography';
@import (once) 'layout';
@import (once) 'shadows';
@import (once) 'grid';
@import (once) 'icon';

@import (once) '../components/menu-bar/menu-bar';
@import (once) '../components/menu/menu';
@import (once) '../components/blog-extract/blog-extract';
@import (once) '../components/buttons/button-primary/button-primary';
@import (once) '../components/buttons/button-secondary/button-secondary';
@import (once) '../components/buttons/button-clean/button-clean';
@import (once) '../components/case-extract/case-extract';
@import (once) '../components/collage/collage';
@import (once) '../components/collage/collage-shapes';
@import (once) '../components/contact/contact';
@import (once) '../components/contact/contact-shapes';
@import (once) '../components/footer-locations/footer-locations';
@import (once) '../components/footer/footer';
@import (once) '../components/image-composition/image-composition';
@import (once) '../components/image-composition/image-composition-shapes';
@import (once) '../components/image-gallery/image-gallery';
@import (once) '../components/page-header/page-header';
@import (once) '../components/page-header/page-header-shapes';
@import (once) '../components/logo/logo';
@import (once) '../components/parallax/parallax';
@import (once) '../components/person/person';
@import (once) '../components/services-item/services-item';
@import (once) '../components/services-overview/services-overview';
@import (once) '../components/services-overview/services-overview-shapes';
@import (once) '../components/shapes/shapes';
@import (once) '../components/social-media/social-media';
@import (once) '../components/logo/logo';
@import (once) '../components/social-media/social-media';
@import (once) '../components/footer/footer';
@import (once) '../components/team-image-2-1/team-image-2-1';
@import (once) '../components/team-image-3-4/team-image-3-4';
@import (once) '../components/footer-locations/footer-locations';
@import (once) '../components/services-item-small/services-item-small';
@import (once) '../components/events-extract/events-extract';
@import (once) '../components/feeds-block/feeds-block';
@import (once) '../components/image-feed/image-feed';
@import (once) '../components/twitter-extract/twitter-extract';
@import (once) '../components/text-center/text-center';
@import (once) '../components/text-center/text-center-shapes';
@import (once) '../components/full-width-image/full-width-image';
@import (once) '../components/image-combo/image-combo';
@import (once) '../components/image-combo/image-combo-shapes';
@import (once) '../components/read-more/read-more';
@import (once) '../components/quote-block/quote-block';
@import (once) '../components/case-header/case-header';
@import (once) '../components/50-50/50-50';
@import (once) '../components/50-50/50-50-shapes';
@import (once) '../components/logo-list/logo-list';
@import (once) '../components/text-card/text-card';
@import (once) '../styles/pages/case';
@import (once) '../styles/pages/work';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: @main-font;
}

body.disable-scroll {
	overflow: hidden;
	max-height: 100vh;
}

* {
	box-sizing: border-box;
}
