@import (less) '../vendor/normalize.css';

@import (once) 'fonts';
@import (once) 'typography';
@import (once) 'buttons';
@import (once) 'layout';

@import (once) '../components/footer/footer';
@import (once) '../components/header/header';
@import (once) '../components/menu/menu';
@import (once) '../components/services-approach/service-approach';
@import (once) '../components/services-contact/services-contact';
@import (once) '../components/services-intro/services-intro';
@import (once) '../components/services-item/services-item';
@import (once) '../components/services-overview/services-overview';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'gilroy', 'sans-serif';
}

body.disable-scroll {
	overflow: hidden;
	max-height: 100vh;
}

* {
	box-sizing: border-box;
}
