@import (reference) 'variables';

.container {
	display: block;
	width: 100%;
	max-width: @container-max-width;
	padding: 0 @spacing-default;
	margin: @spacing-double 0;

	@media @screen-small {
		padding: 0 @spacing-double;
		margin: 0 auto @spacing-container;
	}
}
.container-inner {
	width: 100%;
	max-width: @container-inner-max-width;
	margin: 0 auto;
}



.article {
	padding: 0 @spacing-default;
	max-width: @container-max-width;

	@media @screen-medium {
		margin: 0 auto;
	}
}

.two-column div {
	width: 80%;
	display: block;
	vertical-align: top;
	margin: 0 auto 20px;

	@media @screen-medium {
		width: 50%;
		display: inline-block;
		margin-bottom: 0;
	}
}

.three-column div {
	width: 100%;
	display: inline-block;
	vertical-align: top;

	@media @screen-medium {
		width: 33.333%;
	}
}

.three-column .two-thirds {
	@media @screen-medium {
		width: 66.666%;
	}
}
