@import (reference) 'variables';

.container {
	display: block;
	width: 100%;
	max-width: @container-max-width;
	padding: 0 @spacing-default;
	margin: @spacing-double 0;

	@media @screen-small {
		padding: 0 @spacing-double;
		margin: 0 auto @spacing-container;
	}
}

.container-inner {
	width: 100%;
	max-width: @container-inner-max-width;
	margin: 0 auto;
}

.article {
	padding: 0 @spacing-default;
	max-width: @container-max-width;

	@media @screen-medium {
		margin: 0 auto;
	}
}

.article-full-width {
	max-width: none;
	@media @screen-medium {
		margin: 0;
	}
}
