@import (reference) 'variables';

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: @font-main-fallback;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .fonts-loaded {
    font-family: @font-main;
  }
}

body.disable-scroll {
  max-height: 100vh;
  overflow: hidden;

  @media @screen-768 {
    max-height: none;
    overflow: auto;
  }
}

.container {
  display: block;
  width: 100%;
  margin: 0 0 @container-margin-bottom-s;
  padding: 0 @spacing-default*1.5;

  @media @screen-500 {
    max-width: @container-max-width;
    margin: 0 auto @container-margin-bottom-l;
    padding: 0 @spacing-small;
  }
}

.container-inner {
  width: 100%;
  margin: 0 auto;

  @media @screen-500 {
    max-width: @container-inner-max-width;
  }
}

.container.container-inner {
  margin: @spacing-small 0;

  @media @screen-500 {
    margin: 0 auto @spacing-container;
  }
}

.main {
  overflow: hidden;
}

// makes content (text, buttons, etc) to always be above the front parallax layer
.content {
  position: relative;
  z-index: 1;
}

.article {
  position: relative;
  z-index: 1;
  max-width: none;
  margin-top: -100px; // gives header a white background
  padding-top: 100px; // gives header a white background
  padding-bottom: 1px; // fix  collapsed margin of last child
  background-color: @white;
}

// position content below page header large
.page-scrolling-content {
  position: relative;
  margin-top: 100vh; // height of header image
  background-color: @white;
}

.page-scrolling-content:not(.has-notification-bar) {
  padding-top: @spacing-default*5;

  @media @screen-768 {
    padding-top: @spacing-default*14;
  }
}

.page-scrolling-content-small {
  position: relative;
  margin-top: 65vh;
  padding-top: @spacing-default*5;
  background-color: @white;

  @media @screen-500 {
    margin-top: 50vh;
  }

  @media @screen-768 {
    padding-top: @spacing-medium*3;
  }
}
