.transition-img-hover {
	position: relative;
	transition: transform 0.3s;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		background-color: @black;
		transition: opacity 0.3s;
	}

	&:hover {
		transform: scale(1.05);

		&:before {
			opacity: 0.1;
		}
	}
}
