@import 'variables';

body {
    font-size: 16px;
    line-height: 24px;
    color: @black;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0 0 25px 0;
}

h1 {
    font-size: 60px;
    line-height: 80px;
}

h2 {
    font-size: 46px;
    line-height: 60px;
}

h3 {
    font-size: 36px;
    line-height: 50px;
}

.subtitle {
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    color: @gray;
}

p {
    margin:0 0 @spacing-default 0;
	font-weight: @font-weight-normal;
}

.section-header {
	font-size: 30px;
	text-align: center;

	@media @screen-medium {
		font-size: 36px;
	}
}

ul {
    font-weight: 500;
    font-style: italic;
    list-style: none;

    li{
        position: relative;

        &::before {
            content: '';
            position:absolute;
            top: 50%;
            left: -20px;
            width: 4px;
            height: 4px;
            background-color: @red;
            border-radius: 50%;
            transform: translateY(-50%);
        }
    }
}
