@import (reference) './fonts';

@font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
@main-font: 'gilroy', @font-fallback;

@black:         #151515;
@white:         #ffffff;
@dark-gray:     #272727;
@gray:          #9b9b9b;
@light-gray:    #fafafa;
@green:         #45d33c;
@yellow:        #ffe044;
@blue:          #00aae9;
@purple:        #8314bb;
@red:           #fe595b;

@primary-color: @gray;

@header-height: 100px;
@header-margin-sm: 30px;
@header-margin-lg: 100px;

@container-max-width: 1420px;
@container-inner-max-width: 1170px;
@container-gutter: 10px;

// Spacing
@spacing-default: 16px;
@spacing-half: @spacing-default / 2;
@spacing-double: @spacing-default * 2;
@spacing-container: 100px;

// Font size
//extra large titles
@extra-large-title-l: 100px;
@extra-large-title-m: 70px;
@extra-large-title-s: 50px;
//large titles
@large-title-l: 66px;
@large-title-m: 46px;
@large-title-s: 30px;
//medium titles
@medium-title-l: 46px;
@medium-title-s: 30px;
//small titles
@small-title-l: 34px;
@small-title-s: 24px;
//large subtitle titles
@large-subtitle-l: 34px;
@large-subtitle-m: 22px;
@large-subtitle-s: 18px;
//large quotes
@large-quote-l: 42px;
@large-quote-m: 35px;
@large-quote-s: 26px;
//normal text sizes
@medium-text-l: 32px;
@medium-text-m: 20px;
@medium-text-s: 16px;
// font weight
@font-weight-normal: 500;
@font-weight-bold: 700;
@font-weight-bold-extra: 900;

// Media queries
@screen-large: ~"only screen and (min-width: 1170px)";
@screen-medium: ~"only screen and (min-width: 768px)";
@screen-small: ~"only screen and (min-width: 500px)";
