@import (reference) './fonts';
@import (reference) './grid';

@font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
@main-font: 'gilroy', @font-fallback;

@black:         #151515;
@black-grey:	#040404;
@white:         #ffffff;
@dark-gray:     #272727;
@gray:          #9b9b9b;
@light-gray:    #fafafa;
@green:         #45d33c;
@yellow:        #ffe044;
@blue:          #00aae9;
@purple:        #8314bb;
@red:           #fe595b;

@primary-color: @gray;

@header-height: 100px;
@header-margin-sm: 30px;
@header-margin-lg: 100px;

@container-max-width: 1420px;
@container-inner-max-width: 1170px;
@container-gutter: 10px;

// Spacing
// @spacing-default: 16px;
@spacing-default: 11px; 
@spacing-half: @spacing-default / 2;
@spacing-double: @spacing-default * 2;
@spacing-container: 100px;

// Font size
//extra large titles
@title-giant-l: 88px;
@title-extra-large-m: 70px;
@title-extra-large-s: 50px;
//heading
@heading: 49px;
//heading-small
@heading-small: 33px;
//title
@title-large-l: 66px;
@title-large-m: 46px;
@title-large-s: 30px;
//medium titles
@title-medium-l: 46px;
@title-medium-s: 30px;
//small titles
@title-small-l: 34px;
@title-small-s: 24px;
//large subtitle titles
@subtitle-large-l: 33px;
@subtitle-large-m: 22px;
@subtitle-large-s: 18px;

@subtitle-small-s: 14px;
//label 
@label: 22px;
//large quotes
@quote-large-l: 33px;
@quote-large-m: 35px;
@quote-large-s: 26px;
//normal text sizes
@text-medium-l: 32px;
@text-medium-m: 20px;
@text-medium-s: 22px;
//body text
@body-text: 22px;
@body-text-s: 16px;
// font weight
@font-weight-light-extra: 200;
@font-weight-light: 400;
@font-weight-normal: 500;
@font-weight-bold: 700;
@font-weight-bold-extra: 900;

// line-heights
@line-height-giant: 92px;
@line-height-title: 70px;
@line-height-heading: 55px;
@line-height-subtitle: 50px;
@line-height-quote: 50px;
@line-height-giant-subtitle: 48px;
@line-height-footer-items: 50px;
@line-height-header-small: 38px;
@line-height-body: 33px;
@line-height-lable: 28px;
@line-height-body-small: 28px;
// Media queries
@screen-large: ~"only screen and (min-width: 1170px)";
@screen-medium: ~"only screen and (min-width: 768px)";
@screen-small: ~"only screen and (min-width: 500px)";
