.teamimage-large-align-left {
	float: left;
	position: relative;
	width: 50%;
	max-width: @column-large-4;
	padding-bottom: @spacing-default;
	
	@media @screen-medium {
		padding-bottom: @spacing-small;
	}
} 

.teamimage-large-padded {
	margin-top: @spacing-medium;
	padding-right: @spacing-default*1.5;

	@media @screen-medium {
		margin-top: @spacing-medium*2;
		padding-right: @spacing-small;
	}
}

.teamimage-large-image {
	width: 100%;
}

.teamimage-large-title-active {
	display: none;

	&:hover {
		display: block;
	}
}

.teamimage-large-title {
	display: none;

	@media @screen-small {
		display: block;
		position: absolute;
		bottom: 55px;
		left: 40px;
		font-size: @body-text-small-l;
		font-weight: @font-weight-bold;
		line-height: @line-height-body-small-l;
		color: @white;
	}
}