@import (reference) '../../styles/variables';

.menu {
	width: 100%;
	background: transparent;
	z-index: 2;
	position: fixed;
    top: 0;
    right: 0;
	list-style-type: none;

	&::before {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
    	height: 100vh;
		background: black;
		opacity: 0.4;
		content: '';
	}
}

.menu-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	padding: @spacing-small*5 @spacing-small;
	background-color: @black;
    overflow-y: hidden;

	@media @screen-medium {
		width: 50vw;
		background: transparent;
	}

	@media only screen and (min-height: 768px) and (min-width: 768px){
		padding-bottom: 30vh;
	}

	@media only screen and (min-height: 1000px) and (min-width: 768px){
		padding-bottom: 50vh;
	}
}



.menu-list {
	margin: 0 0 @spacing-default*7 0;
	padding: 0 @spacing-small;
	list-style: none;
	font-style: normal;

	@media only screen and (min-width: @container-max-width) {
		margin-left: @spacing-small*5;
	}
}

.menu-list li {
	text-align: left;
	font-size: @title-large-s;
	line-height: @line-height-title-s;
	font-weight: @font-weight-bold;
	margin-bottom: @spacing-small;

	&.menu-item-last {
		margin-bottom: @spacing-default*7 + @spacing-small;
	}

	@media @screen-small {
		font-size: @title-large-s;
		line-height: @line-height-title-s;
	}
	@media @screen-large {
		font-size: @title-large-m;
		line-height: @line-height-title-l;
		text-align: left;
	}
}



.menu-list a {
	color: @light-gray;
	text-decoration: none;
}

.menu-item-sub {
	opacity: 0.7;
}


.menu-inner-no-margin {
	@media @screen-large {
		margin-bottom: 0;
	}
}

.menu-item-red:hover a {
	color: @red;
}

.menu-item-green:hover a {
	color: @green;
}

.menu-item-blue:hover a {
	color: @blue;
}

.menu-item-yellow:hover a {
	color: @yellow;
}

.menu-background {
	position: fixed;
	right: 15px;
	top: 10px;
	height: 50px;
	fill: @black;
	transform-origin: 0 0;
	z-index: 3;

	@media @screen-large {
		right: 30px;
		top: 20px;
		height: 80px;
	}

	@media only screen and (min-width: @container-max-width) {
		right: calc(~"(100vw - @{column-large-12} + 100px) / 2");
	}
}
