@import (reference) '../../styles/variables';

.full-width-image {
    width: 100%;
    height: 600px;
    position: relative;
	overflow: hidden;
    margin-bottom: 90px;

    @media @screen-medium {
        height: 700px;
        margin-bottom: 100px;
    }

    @media @screen-large {
        margin-bottom: 100px;
		height: 800px;
    }
}

.full-width-image-inner {
	top: 0;
	position: fixed;
	height: 600px;
	width: 100%;
	overflow: hidden;

	@media @screen-medium {
		height: 700px;
	}

	@media @screen-large {
		height: 800px;
	}
}

.full-width-image-background {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.full-width-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: @white;
    padding: 0 1rem;
    width: 100%;
    max-width: 1170px;
}

.full-width-image-text h2 {
    font-weight: @font-weight-bold-extra;
    font-size: @title-extra-large-s;
    line-height: @giant-subtitle-line-height;
    margin-bottom: 32px;

    @media @screen-medium {
        font-size: @title-extra-large-m;
        line-height: @title-line-height;
    }

    @media @screen-large {
        font-size: @giant-title-l;
        line-height: 100px;
        margin-bottom: 48px;
    }
}

.full-width-image-text p {
    font-size: @subtitle-large-s;
    font-weight: @font-weight-normal;

    @media @screen-large {
        font-size: @body-text;
        line-height: @body-line-height;
    }
}
